{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- sidebar-header  -->

            <div class="sidebar-menu">
                <ul>
                    <br>
                    <li>
                        <a href="/i">
                            <span>Inscripciones</span>
                        </a>
                    </li>
					<li>
                        <a href="/auxenf">
                            <span>Auxiliar de Enfermeria</span>
                        </a>
                    </li>
					<li>
                        <a href="/optica">
                            <span>Óptica</span>
                        </a>
                    </li>
                    <li>
                        <a href="/laboratorio">
                            <span>Laboratorio</span>
                        </a>
                    </li>
                    <li>
                        <a href="/academia">
                            <span>Academia</span>
                        </a>
                    </li>
                    <li>
                        <a href="/p">
                            <span>Practica</span>
                        </a>
                    </li>
                    <li>
                        <a href="/m">
                            <span>Manuales</span>
                        </a>
                    </li>
                    <li>
                        <a href="/pag">
                            <span>Pagos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ingles">
                            <span>Ingles</span>
                        </a>
                    </li>
            
                    <li>
                        <a href="/extra">
                            <span>Pagos Extra</span>
                        </a>
                    </li>
                    <li>
                        <a href="/parqueo">
                            <span>Parqueo</span>
                        </a>
                    </li>
					<li>
                        <a href="/u">
                            <span>Uniformes</span>
                        </a>
                    </li>
					<li>
                        <a href="/grad">
                            <span>Graduacion</span>
                        </a>
                    </li>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" id="main">
        <div class="container">
            <center>
                <h1>Auxiliar de Enfermeria</h1>
            </center>

            <hr>
            <form action="" method="POST">
				<input type="hidden" id="cant" name="cant" value="0" readonly>
                <center>
                    <input type="text" id="carnet" name="carnet" class="inputtext"
                        placeholder="  Carné">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="nombre" name="nombre" class="inputtext1" required placeholder="  Nombre" onblur="mayusculas()"><br>
                    <br>
                    <table>
                        <tr>
                            <th>Inscripción</th>
                            <td>
                                <input type="checkbox" id="insc" name="insc" value="1">
                                <label for="insc" id="linsc">Seleccione si se ingresa Inscripción al curso</label>
                            </td>
                        </tr>
                        <tr>
                            <th>Mensualidades</th>
                            <td>
                                <div id="myDiv">
                                    <input type="text" id="mes0" name="mes0" class="inputtext1" placeholder="  Mes" list="meses" onchange="calcularmora()">
                                </div>
                            </td>
                        </tr>
						<tr>
							<th>Mora</th>
                            <td>
                                <input type="number" step="0.01" id="mora" name="mora" class="inputtext1" placeholder="  Mora">
                            </td>
						</tr>
                    </table>
                </center>
                <br>
                <center><button onclick="submit" class="button">Aceptar</button> <button type="button" class="button"
                        onclick="agregar('')">Agregar Campo</button> <button type="button" class="button"
                        onclick="eliminar('')">Eliminar Campo</button></center>
                <br>
                <hr>
            </form>
            <datalist id="meses">
                {% for i in meses %}
                <option>{{i}}</option>
                {% endfor %}
            </datalist>
        </div>
    </main>
    <!-- page-content" -->
</div>
<script type="text/javascript">
	window.onload = function(){
        var mensaje = {{ mensaje }}
        if(mensaje.length > 0) {
            return alert(mensaje);
        }else {
            return 0;
        }
    }
    function mayusculas() {
        var nombre = document.getElementById('nombre').value
        nombre = nombre.toUpperCase()
        document.getElementById('nombre').value = nombre
    }
    function eliminar() {
        var num = parseInt(document.getElementById('cant').value)
        if (num > 0) {
            var input = document.getElementById('mes' + String(num))
            var div = document.getElementById('myDiv')
            var brs = div.getElementsByTagName('br')
            var largo = brs.length
            input.remove()
            brs[largo - 1].remove()
            document.getElementById('cant').value = num - 1
        }
    }
    function agregar() {
        var div = document.getElementById('myDiv')
        var input = document.createElement('input')
        var num = parseInt(document.getElementById('cant').value) + 1
        document.getElementById('cant').value = num
        input.type = 'text'
        input.id = 'mes' + String(num)
        input.name = 'mes' + String(num)
        input.className = 'inputtext1'
        input.placeholder = '  Mes'
        input.setAttribute('list', 'meses');
		input.setAttribute('onchange', 'calcularmora()');
        var br = document.createElement('br')
        div.appendChild(br)
        div.appendChild(input)
    }
	function calcularmora() {
		var myDiv = document.getElementById("myDiv");
		var inputs = myDiv.querySelectorAll("input");
		var numInputs = inputs.length;
		var fechaActual = new Date();
		var fechaAnterior = new Date();
		var arreglo = {{ meses | tojson }};
		var totaldias = 0;
		var mes = 0;
		inputs.forEach((input) => {
			if (input.value.length > 0){
				for (var j = 0; j<12;j++){
					if (arreglo[j] == input.value){
						mes = j;
					}
				}
				var anio = fechaAnterior.getFullYear();
				var dia = 5;
				var fechaAnterior1 = new Date(anio, mes, dia);
				var diferenciaEnMilisegundos = fechaActual - fechaAnterior1;
				var diasTranscurridos = Math.floor(diferenciaEnMilisegundos / (1000 * 60 * 60 * 24));
				if (diasTranscurridos > 0) totaldias = totaldias + diasTranscurridos;
			}
		});
		var mora = document.getElementById("mora");
		mora.value = totaldias * 5;
	}
</script>
<!-- page-wrapper -->
{% endblock %}