{% extends "layout.html" %}
{% block content %}
<main class="page-content" id="main">
	<div class="container">
		<center>
			<h2>¿Está seguro de continuar?</h2>
		</center>
		<table class="table table-bordered">
			<tr>
				<th>Nombre</th>
				<td>{{nombre}}</td>
			</tr>
			<tr>
				<th>Carnet</th>
				<td>{{carnet}}</td>
			</tr>
			<tr>
				<th>Pago</th>
				<td>Ingles</td>
			</tr>
			{% if insc == 1 %}
			<tr>
				<th>Inscripción</th>
				<td>Aplica - Ciclo {{ciclo}}</td>
			</tr>
			{% endif %}
			<tr>
				<th>Mes</th>
				<td>
					{% for i in range(cantidad) %}
					{{meses[i]}}<br>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Total</th>
				<td>Q{{total}}</td>
			</tr>
		</table>
		<br>
		<form action="" method="POST">
			<center>
				<input class="btn btn-primary" type="submit" value="Aceptar">
				<a class="btn btn-primary" href="{{ url_for('ingles') }}" role="button">Regresar</a>
			</center>
		</form>
</main>
{% endblock %}