{% extends "layout.html" %}
{% block content %}
    <center><h1>Nuevo usuario</h1></center>
        <hr>
        <form action="" method="POST">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nombre">Nombre</label>
					<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" onblur="creariniciales()">
				</div>
				<div class="form-group col-md-6">
					<label for="apellido">Apellido</label>
					<input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" onblur="creariniciales()">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="user">Usuario</label>
					<input type="text" id="user" name="user" class="form-control" placeholder="Usuario">
				</div>
				<div class="form-group col-md-6">
					<label for="iniciales">Iniciales</label>
					<input type="text" id="iniciales" name="iniciales" class="form-control" placeholder="Iniciales">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="pwd">Contraseña</label>
					<input type="password" id="pwd" name="pwd" class="form-control" placeholder="Contraseña">
				</div>
				<div class="form-group col-md-6">
					<label for="pwd1">Confirmar Contraseña</label>
					<input type="password" id="pwd1" name="pwd1" class="form-control" placeholder="Confirme contraseña" onchange="verificarpwd()">
					<p id="mensajecontra" style="color: red;">{{mensaje}}</p>
				</div>
			</div>
    <center><button type="submit" class="btn btn-primary">Aceptar</button></center>
</form>


<script type="text/javascript">
    function verificarpwd(){
        var mensaje = document.getElementById('mensajecontra')
        var pwd = document.getElementById('pwd').value
        var pwd1 = document.getElementById('pwd1').value
        console.log('1: ' + pwd)
        console.log('2: ' + pwd1)
        if(pwd != pwd1) {
            mensaje.innerHTML = 'Las contraseñas no coinciden'
        }else {
            mensaje.innerHTML = ''
        }
    }
    function creariniciales(){
        var nombre = document.getElementById('nombre')
        var apellido = document.getElementById('apellido')
        var inicial = document.getElementById('iniciales')
        var nombres = nombre.value.split(' ')
        var apellidos = apellido.value.split(' ')
        var iniciales = ''
        if (nombre.value.length > 0){
            for (var i = 0; i<nombres.length; i++){
                console.log(nombres[i][0])
                iniciales = iniciales + nombres[i][0]
            }
        }
        if (apellido.value.length > 0){
            for (var i = 0; i<apellidos.length; i++){
                console.log(apellidos[i][0])
                iniciales = iniciales + apellidos[i][0]
            }
        }
        inicial.value = iniciales
    }
</script>

    
{% endblock %}