{% extends "layout.html" %}
{% block content %}
<main class="page-content" id="main">
	<div class="container">
		<center>
			<h1>Devolucion de pago</h1>
		</center>
		<hr>
		<form action="" method="POST" enctype=multipart/form-data>
			<table class="tablacuadre">
				<tr>
					<th>Carnet</th>
					<td>
						<input type="number" id="carnet" name="carnet" class="form-control" readonly placeholder="Carné"
							value="{{datapago[2]}}">
					</td>
				</tr>
				<tr>
					<th>Nombre</th>
					<td>
						<input type="text" id="nombre" name="nombre" class="form-control" readonly placeholder="Nombre"
							value="{{datapago[1]}}">
					</td>
				</tr>
				<tr>
					<th>Concepto</th>
					<td>
						<input type="text" id="concepto" name="concepto" class="form-control" readonly
							placeholder="Concepto" value="{{datapago[0]}}">
					</td>
				</tr>
				<tr>
					<th>Descripción</th>
					<td>
						<input type="text" id="extra" name="extra" class="form-control" readonly placeholder="Extra"
							value="{{datapago[5]}}">
					</td>
				</tr>
				<tr>
					<th>Fecha</th>
					<td>
						<input type="text" id="concepto" name="concepto" class="form-control" readonly
							placeholder="Fecha" value="{{datapago[4]}}">
					</td>
				</tr>
				<tr>
					<th>Total</th>
					<td>
						<input type="text" id="concepto" name="concepto" class="form-control" readonly
							placeholder="Total" value="{{datapago[3]}}">
					</td>
				</tr>
				<tr>
					<th>Recibo</th>
					<td>
						<input type="text" id="concepto" name="concepto" class="form-control" readonly
							placeholder="Recibo" value="{{datapago[6]}}">
					</td>
				</tr>
				<tr>
					<th>Usuario Autorizador</th>
					<td>
						<input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario">
					</td>
				</tr>
				<tr>
					<th>Contraseña</th>
					<td>
						<input type="password" id="password" name="password" class="form-control"
							placeholder="Contraseña">
					</td>
				</tr>
			</table>
			<br>
			<input type="file" id="file" name="file" accept=".png,.pdf,.jpg,.jpeg" required>
			<br>
			<center><input class="btn btn-primary" type="submit" value="Aceptar"></center>
			<br>
			<hr>
		</form>
	</div>
</main>
{% endblock %}