<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title>Sistema de caja - {{ title }}</title>
    {% else %}
        <title>Sistema de caja</title>
    {% endif %}
         <link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
	<style type="text/css">
	body {
		background: #ffffff;
		margin-top: 5rem;
	}
	table {
		border: 0px;
		width: 100%;
	}
	td, th {
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 30px;
	}

	td {
		border-bottom: #000000 1px solid;
		text-align: center;
		vertical-align: bottom;
	}

	th {
		text-align: left;
		vertical-align: bottom;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000000;
	}
	p {
		size: 12px;
	}
	.tabla {
		border: #000000 1px solid;
		text-align: center;
		vertical-align: middle;
		height: 20px;
	}
	.tdtabla {
		border: #000000 1px solid;
		text-align: left;
		vertical-align: middle;
		height: 20px;
	}
	.tablaobjetivos {
		border: #000000 1px solid;
		text-align: justify;
		vertical-align: top;
	}
</style>
</head>
<body>
    <main role="main" class="container">
		<div style="width: 25%; float: right;">
			<img src="{{path}}static\logofacisasalud.jpg" width="80%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA<br>PRÁCTICA “ENFERMERÍA PREVENTIVA”<br><strong>AREA COMUNITARIA</strong></h5></center>
		</div>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre completo: </th>
				<td colspan="3">{{practica[0]}}</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td colspan="3">{{practica[3]}}</td>
			</tr>
			<tr>
				<th>Periodo de práctica: </th>
				<td style="width: 50%;">{{practica[4]}} al {{practica[5]}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 20%;">{{practica[1]}}</td>
			</tr>
			<tr>
				<th>Fecha: </th>
				<td></td>
				<th>Punteo: </th>
				<td></td>
			</tr>
			<tr>
				<td colspan="4" style="border: #ffffff;">VALOR 50 PUNTOS</td>
			</tr>
		</table>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 7%;">No.</th>
				<th class="tabla" style="width: 73%;">ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 5%;">MB</th>
				<th class="tabla" style="width: 5%;">B</th>
				<th class="tabla" style="width: 5%;">R</th>
				<th class="tabla" style="width: 5%;">D</th>
			</tr>
			<tr>
				<td class="tdtabla">1.</td>
				<td class="tdtabla">Porta el uniforme limpio y completo .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">2.</td>
				<td class="tdtabla">Respeta líneas de autoridad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">3.</td>
				<td class="tdtabla">Sigue instrucciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">4.</td>
				<td class="tdtabla">Es dedicada(o) y organizada(o) al desempeñar sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">5.</td>
				<td class="tdtabla">Es puntual en todas las actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">6.</td>
				<td class="tdtabla">Mantiene buenas relaciones interpersonales con las personas que le rodean.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">7.</td>
				<td class="tdtabla">Tiene iniciativa y creatividad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">8.</td>
				<td class="tdtabla">En sus acciones refleja trabajo en equipo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">9.</td>
				<td class="tdtabla">Aplica principios de moral y ética en todas sus acciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">10.</td>
				<td class="tdtabla">Porta su equipo completo siempre.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">11.</td>
				<td class="tdtabla">Participa con el equipo de salud en actividades propias del trabajo comunitario.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">12.</td>
				<td class="tdtabla">Aplica principios de atención primaria en salud en la comunidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">13.</td>
				<td class="tdtabla">Respeta las costumbres, creencias y derechos del usuario/a.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">14.</td>
				<td class="tdtabla">Realiza acciones de promoción de la salud y prevención de enfermedades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">15.</td>
				<td class="tdtabla">Fomenta el uso de plantas medicinales de acuerdo a normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">16.</td>
				<td class="tdtabla">Elabora plan y material didáctico para educación en salud a las familias y la comunidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">17.</td>
				<td class="tdtabla">Promueve estilos de vida saludables en las familias y la comunidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">18.</td>
				<td class="tdtabla">Brinda educación sobre higiene, agua, saneamiento ambiental y disposición de basura.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">19.</td>
				<td class="tdtabla">Realiza acciones en coordinación con los miembros del equipo básico de salud.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">20.</td>
				<td class="tdtabla">Realiza acciones de vigilancia epidemiológica de acuerdo a normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">21</td>
				<td class="tdtabla">Participa activamente en la elaboración del diagnóstico comunitario.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">22.</td>
				<td class="tdtabla">Participa activamente en la realización de actividades de acuerdo al plan de acción del Dx.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">23.</td>
				<td class="tdtabla">Aplica el proceso de enfermería a las familias asignadas y la comunidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">24.</td>
				<td class="tdtabla">Todas las actividades las realiza basado/a en planes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">25.</td>
				<td class="tdtabla">Realiza referencias y contra referencias de acuerdo a los niveles de atención.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">26.</td>
				<td class="tdtabla">Maneja correctamente los informes y la programación de actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">27.</td>
				<td class="tdtabla">Proporciona educación planificada e incidental al individuo y/o familia.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">28.</td>
				<td class="tdtabla">Identifica a los líderes de la comunidad y realiza reuniones, para solucionar problemas de la misma.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">29.</td>
				<td class="tdtabla">Realiza sus reportes verbales y escritos con veracidad y claridad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">30.</td>
				<td class="tdtabla">Cumple oportunamente con tareas, informes y trabajos solicitados .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">31.</td>
				<td class="tdtabla">Realiza las tareas y procedimientos con habilidad y secuencia lógica.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">32.</td>
				<td class="tdtabla">Demuestra interés en la realización de actividades. </td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">33.</td>
				<td class="tdtabla">Sustenta todas sus acciones científicamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">34.</td>
				<td class="tdtabla">Organiza a la comunidad para realizar acciones de promoción de la salud.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">35.</td>
				<td class="tdtabla">Busca oportunidades de aprendizaje.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">36.</td>
				<td class="tdtabla">Aprovecha oportunidades de aprendizaje.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">37.</td>
				<td class="tdtabla">Cumple con actividades asignadas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">38.</td>
				<td class="tdtabla">Realiza visitas domiciliarias adecuadamente</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
		</table>
		<br>
		<h6><strong>CRITERIOS DE EVALUACIÓN</strong></h6>
		<table class="tabla">
			<tr>
				<td class="tdtabla" style="width: 20%;">MUY BUENO</td>
				<td class="tdtabla" style="width: 60%;">Realiza todas las actividades con pericia</td>
				<td class="tdtabla" style="width: 20%;">1.32</td>
			</tr>
			<tr>
				<td class="tdtabla">BUENO</td>
				<td class="tdtabla">Realiza las actividades con cierta dificultad </td>
				<td class="tdtabla">0.99</td>
			</tr>
			<tr>
				<td class="tdtabla">REGULAR</td>
				<td class="tdtabla">Realiza las actividades con cierta ayuda</td>
				<td class="tdtabla">0.66</td>
			</tr>
			<tr>
				<td class="tdtabla">DEFICIENTE</td>
				<td class="tdtabla">No realiza las actividades por negligencia o falta de pericia</td>
				<td class="tdtabla">0.33</td>
			</tr>
		</table>
		<br>
		<h6>OBSERVACIONES:_______________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<br>
		<br>
		<h6>Nombre y firma de supervisor de práctica: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de estudiante evaluado: _________________________________________________________</h6>
		<br><br><br>
		<h6>Vo.Bo. Coordinador: ____________________________________________________________________________</h6>
		<br><br>
		<center><h6>Año {{year}}</h6></center>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div style="width: 25%; float: right;">
			<img src="{{path}}static\logofacisasalud.jpg" width="80%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA<br>PRÁCTICA “ENFERMERÍA PREVENTIVA”<br><strong>PUESTO DE SALUD</strong></h5></center>
		</div>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre completo: </th>
				<td colspan="3">{{practica[0]}}</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td colspan="3">{{practica[6]}}</td>
			</tr>
			<tr>
				<th>Periodo de práctica: </th>
				<td style="width: 50%;">{{practica[4]}} al {{practica[5]}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 20%;">{{practica[1]}}</td>
			</tr>
			<tr>
				<th>Fecha: </th>
				<td></td>
				<th>Punteo: </th>
				<td></td>
			</tr>
			<tr>
				<td colspan="4" style="border: #ffffff;">VALOR 50 PUNTOS</td>
			</tr>
		</table>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 7%;">No.</th>
				<th class="tabla" style="width: 73%;">ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 5%;">MB</th>
				<th class="tabla" style="width: 5%;">B</th>
				<th class="tabla" style="width: 5%;">R</th>
				<th class="tabla" style="width: 5%;">D</th>
			</tr>
			<tr>
				<td class="tdtabla">1.</td>
				<td class="tdtabla">Porta el uniforme limpio y completo .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">2.</td>
				<td class="tdtabla">Respeta líneas de autoridad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">3.</td>
				<td class="tdtabla">Sigue instrucciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">4.</td>
				<td class="tdtabla">Se expresa con claridad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">5.</td>
				<td class="tdtabla">Llama a los usuarios y personal institucional por su nombre</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">6.</td>
				<td class="tdtabla">Es dedicada(o) y organizada(o) al desempeñar sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">7.</td>
				<td class="tdtabla">Es puntual en todas las actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">8.</td>
				<td class="tdtabla">Mantiene buenas relaciones interpersonales con las personas que le rodean.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">9.</td>
				<td class="tdtabla">Tiene iniciativa y creatividad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">10.</td>
				<td class="tdtabla">En sus acciones refleja trabajo en equipo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">11.</td>
				<td class="tdtabla">Aplica principios de moral y ética en todas sus acciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">12.</td>
				<td class="tdtabla">Porta su equipo completo siempre.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">13.</td>
				<td class="tdtabla">Se orienta al servicio según asignación de clínicas y/o programas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">14.</td>
				<td class="tdtabla">Cumple con sus asignaciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">15.</td>
				<td class="tdtabla">Participa con el equipo de salud en acciones de trabajo de campo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">16.</td>
				<td class="tdtabla">Vigila que se cumpla la cadena de frío .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">17.</td>
				<td class="tdtabla">Utiliza planeamiento en la realización de actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">18.</td>
				<td class="tdtabla">Conoce los programas que se manejan en el centro de salud.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">19.</td>
				<td class="tdtabla">Respeta las costumbres, creencias y derechos del usuario/a.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">20.</td>
				<td class="tdtabla">Participa en la elaboración del BRES.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">21.</td>
				<td class="tdtabla">Participa con el equipo en la prevención de enfermedades endémicas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">22.</td>
				<td class="tdtabla">En sus actividades incluye educación sobre el uso de plantas medicinales según normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">23</td>
				<td class="tdtabla">Elabora plan y material didáctico para educación en salud a la comunidad .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">24.</td>
				<td class="tdtabla">Brinda educación sobre higiene, agua, saneamiento ambiental y disposición de basura.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">25.</td>
				<td class="tdtabla">Identifica a los miembros del equipo básico de salud y sus funciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">26.</td>
				<td class="tdtabla">Realiza correctamente el llenado de los diferentes SIGSAS del servicio asignado.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">27.</td>
				<td class="tdtabla">Participa en la elaboración de la sala situacional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">28.</td>
				<td class="tdtabla">Realiza referencias y contra referencias de acuerdo a los niveles de atención.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">29.</td>
				<td class="tdtabla">Maneja correctamente los informes y la programación de actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">30.</td>
				<td class="tdtabla">Utiliza adecuadamente los recursos disponibles.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">31.</td>
				<td class="tdtabla">Prepara oportunamente su área de trabajo .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">32.</td>
				<td class="tdtabla">Aplica normas de bioseguridad al realizar los procedimientos.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">33.</td>
				<td class="tdtabla">Aplica los 5 correctos en administración de medicamentos.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">34.</td>
				<td class="tdtabla">Realiza las actividades que correspondan en pre-consulta, consulta y post-consulta demostrando conocimiento, habilidad e interés. </td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">35.</td>
				<td class="tdtabla">Brinda conserjería a los usuarios/as, familia .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">36.</td>
				<td class="tdtabla">Participa con la enfermera en la elaboración de instrumentos administrativos.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">37.</td>
				<td class="tdtabla">Informa oportunamente para que el servicio se mantenga abastecido de materiales y suministros.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">38.</td>
				<td class="tdtabla">Aplica correctamente los biológicos y hace las anotaciones correspondientes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">39.</td>
				<td class="tdtabla">Promueve acciones preventivas en las familias.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">40.</td>
				<td class="tdtabla">Proporciona educación planificada e incidental al individuo y/o familia.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">41.</td>
				<td class="tdtabla">Realiza sus reportes verbales y escritos con veracidad y claridad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">42.</td>
				<td class="tdtabla">Cumple oportunamente con tareas, informes y trabajos solicitados.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">43.</td>
				<td class="tdtabla">Colabora con el equipo de salud al elaborar y/o preparar material y/o equipo para la realización de acciones y/o procedimientos. .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">44.</td>
				<td class="tdtabla">Realiza las tareas y procedimientos con habilidad y secuencia lógica. </td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">45.</td>
				<td class="tdtabla">Participa en procedimientos .</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">46.</td>
				<td class="tdtabla">Demuestra interés en la realización de actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">47.</td>
				<td class="tdtabla">Sustenta todas sus acciones científicamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">48.</td>
				<td class="tdtabla">Realiza acciones de auto cuidado.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">49.</td>
				<td class="tdtabla">Busca oportunidades de aprendizaje.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">50.</td>
				<td class="tdtabla">Aprovecha oportunidades de aprendizaje.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
		</table>
		<br>
		<h6><strong>CRITERIOS DE EVALUACIÓN</strong></h6>
		<table class="tabla">
			<tr>
				<td class="tdtabla" style="width: 20%;">MUY BUENO</td>
				<td class="tdtabla" style="width: 60%;">Realiza todas las actividades con pericia</td>
				<td class="tdtabla" style="width: 20%;">1.00</td>
			</tr>
			<tr>
				<td class="tdtabla">BUENO</td>
				<td class="tdtabla">Realiza las actividades con cierta dificultad </td>
				<td class="tdtabla">0.75</td>
			</tr>
			<tr>
				<td class="tdtabla">REGULAR</td>
				<td class="tdtabla">Realiza las actividades con cierta ayuda</td>
				<td class="tdtabla">0.50</td>
			</tr>
			<tr>
				<td class="tdtabla">DEFICIENTE</td>
				<td class="tdtabla">No realiza las actividades por negligencia o falta de pericia</td>
				<td class="tdtabla">0.25</td>
			</tr>
		</table>
		<br>
		<h6>OBSERVACIONES:_______________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<br>
		<br>
		<h6>Nombre y firma de supervisor de práctica: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de estudiante evaluado: _________________________________________________________</h6>
		<br><br><br>
		<h6>Vo.Bo. Coordinador: ____________________________________________________________________________</h6>
		<br><br>
		<center><h6>Año {{year}}</h6></center>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div style="width: 25%; float: right;">
			<img src="{{path}}static\logofacisasalud.jpg" width="80%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA</h5></center>
		</div>
		<br><br><br><br>
		<center>
			<h5><strong>PLAN DE PRÁCTICA ENFERMERÍA PREVENTIVA.</strong></h5>
		</center>
		<h6><strong>UBICACIÓN: </strong>SEGUNDO SEMESTRE DE LA CARRERA “TÉCNICO UNIVERSITARIO EN ENFERMERÍA”.</h6>
		<h6><strong>HORAS: </strong>320.</h6>
		<h6><strong>PRERREQUISITOS: </strong>APROBAR LA FASE TEÓRICA.</h6>
		<h6><strong>OBJETIVOS GENERALES: </strong></h6>
		<ol>
			<li>Fomentar la práctica de Enfermería, basada en fundamentos filosóficos, éticos, científicos y humanísticos.</li>
			<li>Proveer al estudiante los escenarios de práctica apropiados para el desarrollo de habilidades y destrezas de procedimientos de enfermería preventiva.</li>
			<li>Facilitar las oportunidades de aprendizaje para la promoción de la salud.</li>
			<li>Facilitar las oportunidades de aprendizaje que permitan la aplicación de normas de atención del primer y segundo nivel.</li>
		</ol>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 12%;">OBJETIVOS DOCENTES</th>
				<th class="tabla" style="width: 28%;">ACTIVIDADES DOCENTES</th>
				<th class="tabla" style="width: 20%;">OBJETIVOS DEL ESTUDIANTE</th>
				<th class="tabla" style="width: 40%;">ACTIVIDADES DEL ESTUDIANTE</th>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol>
						<li>Brindar la asesoría y acompañamiento necesario antes, durante y después de realizar un procedimiento de enfermería.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asignar actividades. </li>
						<li>Asistir durante la realización de procedimientos. </li>
						<li>Monitorear la realización de procedimientos.  </li>
						<li>Realizar demostración de procedimientos cuando sea necesario.  </li>
						<li>Realizar evaluaciones orales y por escrito cuando sea necesario. </li>
						<li>Asignar actividades de reforzamiento que considere convenientes </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Realizar procedimientos de enfermería específicos de primer y segundo nivel de atención, en base lineamientos. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Utilizar los conocimientos teóricos al momento de realizar procedimientos.</li>
						<li>Respetar la asignación realizada por la docente supervisora.</li>
						<li>Solicitar ayuda de su docente al momento de tener alguna duda. </li>
						<li>Cumplir con las sugerencias y/o asignaciones realizadas por su docente</li>
						<li>Realizar procedimientos de enfermería preventiva, independientes, dependientes e interdependientes.</li>
						<li>Asistir en procedimientos médicos de enfermería de manera responsable.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="2">
						<li>Garantizar el aprovechamiento de oportunidades de aprendizaje, en cada uno de los estudiantes.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asignar las actividades diariamente.</li>
						<li>Reasignar actividades cuando sea necesario. </li>
						<li>Evaluar continuamente el desarrollo de habilidades y destrezas.  </li>
						<li>Evaluar continuamente las oportunidades de aprendizaje. </li>
						<li>Revisar la documentación que sustente la realización de actividades.</li>
						<li>Promover el análisis de casos.</li>
						<li>Garantizar la resolución de casos.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="2">
						<li>Aprovechar todas las oportunidades de aprendizaje que se le presenten. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Realizar las actividades que se le asignen.</li>
						<li>Demostrar iniciativa al momento de realizar actividades o procedimientos de enfermería, siempre que cuente con los conocimientos necesarios para hacerlo o solicite ayuda de su docente.</li>
						<li>Solicitar la realización de procedimientos en los cuales considere tiene limitaciones. </li>
						<li>Buscar oportunidades de aprendizaje.</li>
						<li>Realizar el planeamiento respectivo previo a la realización de actividades.</li>
						<li>En todas las acciones incorporar el componente de Educación para la Salud.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="3">
						<li>Garantizar el desarrollo de habilidades requeridas para la ejecución de técnicas de Enfermería preventiva.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Promover la realización de todas las técnicas de Enfermería preventiva.</li>
						<li>Brindar demostraciones, para reforzar conocimientos. </li>
						<li>Fomentar la Investigación.  </li>
						<li>Fomentar la participación del grupo en procedimientos específicos o nuevos.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="3">
						<li>Desarrollar habilidades y destrezas necesarias para realizar procedimientos de enfermería preventiva. </li>
						<li>Demostrar habilidades y destrezas en la realización de procedimientos de enfermería preventiva.  </li>
						<li>Asistir en procedimientos específicos con el visto bueno de su docente.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Realizar los procedimientos en base a los conocimientos teóricos obtenidos en clase.</li>
						<li>Dedicar tiempo libre para reforzar conocimientos o desarrollar habilidades.</li>
						<li>Realizar las actividades que le sean solicitadas por su docente o personal competente. </li>
						<li>Demostrar interés en la realización de procedimientos.</li>
						<li>En lo que esté permitido asistir a sus compañeros de estudio y/o personal de enfermería en la realización de procedimientos de su competencia.</li>
						<li>Aprovechar todas las oportunidades que se le presenten para el desarrollo de habilidades, previo el visto bueno de su docente o personal competente.</li>
						<li>Colaborar con sus compañeros o personal competente en la realización de actividades de enfermería.</li>
						<li>Evidenciar el autocuidado a la Salud.  </li>
						<li>Promover estilos de vida saludable en la población que atiende.  </li>
						<li>Aplicar conocimientos sobre modelos de enfermería.  </li>
						<li>Utilizar el proceso de enfermería como base para sus acciones.  </li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="4">
						<li>Proveer el reforzamiento teórico y práctico a cada estudiante durante la realización de procedimientos de Enfermería.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asegurar que las técnicas de enfermería se realicen conforme al procedimiento estudiado.</li>
						<li>Relacionar contenidos vistos en otros cursos para la realización de procedimientos. </li>
						<li>Velar porque las oportunidades sean equitativas en base al desarrollo de habilidades alcanzado.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="6">
						<li>Relacionar los contenidos teóricos al realizar procedimientos de enfermeria. </li>
						<li>Realizar procedimientos de enfermería basado en conocimientos científicos.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Reforzar sus conocimientos teóricos y prácticos fuera del horario de práctica.</li>
						<li>Cumplir con las asignaciones realizadas por su docente.</li>
						<li>Investigar contenidos o procedimientos que no conozca. </li>
						<li>Utilizar las herramientas de estudio que estén a su alcance.  </li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="5">
						<li>Asegurar que cada uno de los estudiantes realice prácticas de autocuidado durante la práctica clínica.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Fomentar el autocuidado.</li>
						<li>Coordinar acciones para que cada estudiante pueda satisfacer sus necesidades básicas durante el tiempo de práctica. </li>
						<li>Velar por el cumplimiento de las normas de bioseguridad.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="8">
						<li>Realizar actividades de autocuidado. </li>
						<li>Promover acciones de autocuidado.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Satisfacer sus necesidades básicas durante el horario de práctica.</li>
						<li>Demostrar hábitos de higiene en  todo momento.</li>
						<li>Aplicar estilos de vida saludables. </li>
						<li>Realizar procedimientos cumpliendo con las medidas de bioseguridad.  </li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="6">
						<li>Brindar apoyo emocional a cada estudiante si fuera necesario.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Comunicarse con cada estudiante para ofrecer  la ayuda que crea conveniente.</li>
						<li>Permitir y/o facilitar la expresión de sentimientos.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="10">
						<li>Desarrollar habilidades de comunicación.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Comunicarle a su docente situaciones que le incomoden.</li>
						<li>Manifestarle a su docente si tiene dudas.</li>
						<li>Expresar situaciones especiales con usuarios, personal de salud o compañeros. </li>
						<li>Informar a su docente de situaciones que no puede manejar durante el trabajo comunitario.  </li>
						<li>Informar a su docente situaciones que puedan poner en riesgo su integridad física o emocional, la de sus compañeros o usuarios.</li>
						<li>Establecer buenas relaciones interpersonales con compañeros, personal de salud o usuarios.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="7">
						<li>Asegurar que los estudiantes brinden cuidados de enfermería basados en principios y valores.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Monitorear la aplicación del proceso de enfermería.</li>
						<li>Evaluar la aplicación de valores éticos al brindar cuidados de enfermería.  </li>
						<li>Fomentar la aplicación de valores socuales ante los compañeros de grupo.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="11">
						<li>Utilizar la filosofía de enfermería para la realización de procedimientos.  </li>
						<li>Brindar cuidados de enfermería basado en valores humanos y sociales.  </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Cumplir los principios básicos de enfermería.</li>
						<li>Respetar a Los usuarios.</li>
						<li>Brindar cuidados de enfermería sin discriminación.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="8">
						<li>Garantizar que los cuidados de enfermería que sean brindados por cada estudiante sean libres de riesgos para el usuario.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Monitorear la aplicación de conocimientos científicos al realizar procedimientos.</li>
						<li>Acompañar al estudiante en caso no demuestre seguridad al realizar un procedimiento.  </li>
						<li>Promover el estudio independiente en cada estudiante de acuerdo a la evaluación que realice.</li>
						<li>Velar por el cumplimiento de las normas de bioseguridad.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="13">
						<li>Brindar cuidados de enfermería libre de riesgos.</li>
						<li>Brindar cuidados de enfermería basados en los conocimientos científicos y valores éticos.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Utilizar conocimientos científicos al realizar procedimientos.</li>
						<li>Desarrollar procedimientos en base a los lineamientos establecidos.</li>
						<li>Realizar únicamente los procedimientos de enfermería vistos en clase.</li>
						<li>Realizar actividades de reforzamiento de contenidos y procedimientos individuales o en grupos.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="9">
						<li>Promover la participación de cada uno de los alumnos en la realización de actividades de enfermería.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Aprovechar oportunidades para que los estudiantes se involucren en actividades del gremio.</li>
						<li>Fomentar en los estudiantes el deseo de conocer su disciplina.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="15">
						<li>Desarrollar sentido de pertenencia a la disciplina de enfermería.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Cumpir con asignaciones especiales realizadas por su docente.</li>
						<li>Participar activamente en actividades de enfermería.</li>
						<li>Realizar actividades que fomenten la unión del grupo de estudiantes.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="10">
						<li>Promover las actividades de educación, información, comunicación y recreación para los usuarios.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asignar actividades educativas, informativas y recreativas para los usuarios.</li>
						<li>Monitorear actividades educativas, informativas y recreativas que realicen los estudiantes.</li>
						<li>Evaluar actividades educativas, informativas y recreativas que realicen los estudiantes.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="16">
						<li>Desarrollar habilidades educativas, informativas y de recreación a los usuarios.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Cumpir con asignaciones realizadas por su docente.</li>
						<li>Realizar planeamiento específico para cada actividad asignada.</li>
						<li>Demostrar iniciativa para realizar actividades educativas, informativas y recreativas.</li>
						<li>Demostrar interés en la realización de actividades.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="11">
						<li>Promover las investigación en el grupo de estudiantes.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asignar actividades que refuercen los conocimientos del grupo de estudiantes.</li>
						<li>Fomentar el estudio en casa.</li>
						<li>Asignar presentaciones orales y escritas individuales y de grupo.</li>
						<li>Asegurarse que todas las actividades del estudiante estén sustentadas con base científica.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="17">
						<li>Sustentar las acciones en fundamentos científicos.</li>
						<li>Utilizar la investigación para ampliar sus conocimientos.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Presentar trabajos escritos.</li>
						<li>Utilizar vocabulario científico durante sus acciones.</li>
						<li>Adjuntar a su planeamiento fundamentación científica.</li>
					</ol>
				</td>
			</tr>
		</table>
		
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>
</html>