<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title>Sistema de caja - {{ title }}</title>
    {% else %}
        <title>Sistema de caja</title>
    {% endif %}
         <link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
	<style type="text/css">
	body {
		background: #ffffff;
		margin-top: 5rem;
	}
	table {
		border: 0px;
		width: 100%;
	}
	td, th {
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 30px;
	}

	td {
		border-bottom: #000000 1px solid;
		text-align: center;
		vertical-align: bottom;
	}

	th {
		text-align: left;
		vertical-align: bottom;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000000;
	}
	p {
		size: 12px;
	}
	.tabla {
		border: #000000 1px solid;
		text-align: center;
		vertical-align: middle;
		height: 20px;
	}
	.tdtabla {
		border: #000000 1px solid;
		text-align: left;
		vertical-align: middle;
		height: 20px;
	}
	.tablaobjetivos {
		border: #000000 1px solid;
		text-align: justify;
		vertical-align: top;
	}
</style>
</head>
<body>
    <main role="main" class="container">
		<div style="width: 25%; float: right;">
			<img src="https://scontent.fgua5-1.fna.fbcdn.net/v/t39.30808-6/342221787_708801597709377_985985261991588500_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jV1NHWbenWsAX-Qqkpw&_nc_ht=scontent.fgua5-1.fna&oh=00_AfA1cO0ph_YeO5YQvwu5qwQiWDDtOBm-IA3lkMGbihQVRA&oe=656A5286" width="100%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA<br>FORMATO DE EVALUACIÓN PRÁCTICA HOSPITALARIA<br><strong>ATENCIÓN A PACIENTES EN SITUACIÓN MÉDICO-QUIRÚRGICA EN EL SERVICIO DE CIRUGÍA</strong></h5></center>
		</div>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre completo: </th>
				<td colspan="3">{{practica[0]}}</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td colspan="3">{{practica[3]}}</td>
			</tr>
			<tr>
				<th>Periodo de práctica: </th>
				<td style="width: 50%;">{{practica[4]}} al {{practica[5]}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 20%;">{{practica[1]}}</td>
			</tr>
			<tr>
				<th>Fecha: </th>
				<td></td>
				<th>Punteo: </th>
				<td></td>
			</tr>
			<tr>
				<td colspan="4" style="border: #ffffff;">VALOR 25 PUNTOS</td>
			</tr>
		</table>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 7%;">No.</th>
				<th class="tabla" style="width: 73%;">ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 5%;">MB</th>
				<th class="tabla" style="width: 5%;">B</th>
				<th class="tabla" style="width: 5%;">R</th>
				<th class="tabla" style="width: 5%;">D</th>
			</tr>
			<tr>
				<td class="tdtabla">1.</td>
				<td class="tdtabla"> Es puntual en todas sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">2.</td>
				<td class="tdtabla"> Utiliza correctamente uniforme y equipo completo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">3.</td>
				<td class="tdtabla">Demuestra iniciativa y creatividad en todas sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">4.</td>
				<td class="tdtabla">Utiliza vocabulario adecuado con pacientes, compañeros y demás personas de su entorno.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">5.</td>
				<td class="tdtabla">Demuestra carácter de servicio profesional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">6.</td>
				<td class="tdtabla">Es colaborador (a), acepta sugerencias y las aplica.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">7.</td>
				<td class="tdtabla">Fomenta y mantiene buenas relaciones interpersonales con quienes le rodean.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">8.</td>
				<td class="tdtabla">Aprovecha oportunidades y tiempo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">9.</td>
				<td class="tdtabla">Realiza lavado de manos correctamente</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">10.</td>
				<td class="tdtabla">Participa en la solicitud de material y equipo estéril.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">11.</td>
				<td class="tdtabla">Se involucra en todas las actividades pertinentes del servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">12.</td>
				<td class="tdtabla">Aplica normas de bioseguridad en todo momento.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">13.</td>
				<td class="tdtabla">Aplica los lineamientos establecidos al recibir pacientes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">14.</td>
				<td class="tdtabla">Brinda apoyo emocional al paciente durante su estancia hospitalaria.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">15.</td>
				<td class="tdtabla">Realiza los procedimientos pre-operatorios requeridos para llevar al paciente a quirófano. </td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">16.</td>
				<td class="tdtabla">Brinda apoyo emocional y psicológico al paciente pre-operatorio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">17.</td>
				<td class="tdtabla">Orienta al paciente sobre el procedimiento a realizársele</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">18.</td>
				<td class="tdtabla">Prepara la unidad del paciente para el post-operatorio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">19.</td>
				<td class="tdtabla">Realiza los cuidados post operatorios al paciente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">20.</td>
				<td class="tdtabla">Prepara/ maneja material y equipo estéril previo a procedimientos en el servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">21.</td>
				<td class="tdtabla">Utiliza correctamente instrumental quirúrgico.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">22.</td>
				<td class="tdtabla">Realiza curaciones con técnica correcta.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">23.</td>
				<td class="tdtabla">Cumple con las normas de control y manejo del equipo a utilizar.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">24.</td>
				<td class="tdtabla">Realiza cuidado posterior del equipo utilizado</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">25.</td>
				<td class="tdtabla">Utiliza correctamente los medios de comunicación en enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">26.</td>
				<td class="tdtabla">Administra medicamentos y tratamientos correctamente</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">27.</td>
				<td class="tdtabla">Aplica técnicas de aislamiento y asepsia correctamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">28.</td>
				<td class="tdtabla">Responde efectivamente a emergencias en la post-operatoria fase inmediata.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">29.</td>
				<td class="tdtabla">Trabaja en equipo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">30.</td>
				<td class="tdtabla">Aplica los principios fundamentales de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">31.</td>
				<td class="tdtabla">Realiza acciones de autocuidado.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">32.</td>
				<td class="tdtabla">Entrega pacientes cumpliendo con lineamientos establecidos.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">33.</td>
				<td class="tdtabla">Planifica las acciones diarias a realizar.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">34.</td>
				<td class="tdtabla">Brinda educación continua e incidental a pacientes</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">35.</td>
				<td class="tdtabla">Respeta las líneas de autoridad</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
		</table>
		<br>
		<h6><strong>CRITERIOS DE EVALUACIÓN</strong></h6>
		<table class="tabla">
			<tr>
				<td class="tdtabla" style="width: 20%;">MUY BUENO</td>
				<td class="tdtabla" style="width: 60%;">Realiza todas las actividades con pericia</td>
				<td class="tdtabla" style="width: 20%;">2.85</td>
			</tr>
			<tr>
				<td class="tdtabla">BUENO</td>
				<td class="tdtabla">Realiza las actividades con cierta dificultad </td>
				<td class="tdtabla">2.14</td>
			</tr>
			<tr>
				<td class="tdtabla">REGULAR</td>
				<td class="tdtabla">Realiza las actividades con cierta ayuda</td>
				<td class="tdtabla">1.43</td>
			</tr>
			<tr>
				<td class="tdtabla">DEFICIENTE</td>
				<td class="tdtabla">No realiza las actividades por negligencia o falta de pericia</td>
				<td class="tdtabla">0.71</td>
			</tr>
		</table>
		<h6><strong>PARTE II	25 PUNTOS</strong></h6>
		<h6><strong>Aspectos de responsabilidad e interés en su formación.</strong></h6>
		<table class="tabla" style="width: 80%;">
			<tr>
				<th class="tabla" style="width: 60%;">CONTENIDO/ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 40%;">PUNTEO</th>
			</tr>
			<tr>
				<td class="tdtabla">Proceso de enfermería.</td>
				<td class="tabla">10</td>
			</tr>
			<tr>
				<td class="tdtabla">Entrega de trabajos solicitados por docente.</td>
				<td class="tabla">5</td>
			</tr>
			<tr>
				<td class="tdtabla">Entrega de evidencia de práctica (fotocopias, fotos, firmas, sigsas y demás).</td>
				<td class="tabla">5</td>
			</tr>
			<tr>
				<td class="tdtabla">Participa en actividades científicas de la Universidad  </td>
				<td class="tabla">5</td>
			</tr>
			<tr>
				<th class="tabla">TOTAL</th>
				<th class="tabla">25 PUNTOS</th>
			</tr>
		</table>
		<br>

		<h6>OBSERVACIONES:_______________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<br>
		<br>
		<h6>Nombre y firma de supervisor de práctica: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de estudiante evaluado: _________________________________________________________</h6>
		<br><br><br>
		<h6>Vo.Bo. Coordinador: ____________________________________________________________________________</h6>
		<br><br>
		<center><h6>Año {{year}}</h6></center>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div style="width: 25%; float: right;">
			<img src="https://scontent.fgua5-1.fna.fbcdn.net/v/t39.30808-6/342221787_708801597709377_985985261991588500_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jV1NHWbenWsAX-Qqkpw&_nc_ht=scontent.fgua5-1.fna&oh=00_AfA1cO0ph_YeO5YQvwu5qwQiWDDtOBm-IA3lkMGbihQVRA&oe=656A5286" width="100%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA<br>FORMATO DE EVALUACIÓN PRÁCTICA HOSPITALARIA<br><strong>ATENCIÓN A PACIENTES EN SITUACIÓN MÉDICO-QUIRÚRGICA EN LOS SERVICIOS DE SALA DE OPERACIONES Y CENTRAL DE EQUIPO</strong></h5></center>
		</div>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre completo: </th>
				<td colspan="3">{{practica[0]}}</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td colspan="3">{{practica[3]}}</td>
			</tr>
			<tr>
				<th>Periodo de práctica: </th>
				<td style="width: 50%;">{{practica[4]}} al {{practica[5]}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 20%;">{{practica[1]}}</td>
			</tr>
			<tr>
				<th>Fecha: </th>
				<td></td>
				<th>Punteo: </th>
				<td></td>
			</tr>
			<tr>
				<td colspan="4" style="border: #ffffff;">VALOR 25 PUNTOS</td>
			</tr>
		</table>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 7%;">No.</th>
				<th class="tabla" style="width: 73%;">ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 5%;">MB</th>
				<th class="tabla" style="width: 5%;">B</th>
				<th class="tabla" style="width: 5%;">R</th>
				<th class="tabla" style="width: 5%;">D</th>
			</tr>
			<tr>
				<td class="tdtabla">1.</td>
				<td class="tdtabla"> Es puntual en todas sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">2.</td>
				<td class="tdtabla"> Utiliza correctamente uniforme y equipo completo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">3.</td>
				<td class="tdtabla">Demuestra iniciativa y creatividad en todas sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">4.</td>
				<td class="tdtabla">Utiliza vocabulario adecuado con pacientes, compañeros y demás personas de su entorno.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">5.</td>
				<td class="tdtabla">Demuestra carácter de servicio profesional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">6.</td>
				<td class="tdtabla">Es colaborador (a), acepta sugerencias y las aplica.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">7.</td>
				<td class="tdtabla">Fomenta y mantiene buenas relaciones interpersonales con quienes le rodean.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">8.</td>
				<td class="tdtabla">Aprovecha oportunidades y tiempo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">9.</td>
				<td class="tdtabla">Participa en la elaboración correcta de material y equipo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">10.</td>
				<td class="tdtabla">Se involucra en actividades pertinentes del servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">11.</td>
				<td class="tdtabla">Aplica normas de bioseguridad en todo momento.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">12.</td>
				<td class="tdtabla">Aplica los lineamientos establecidos al recibir pacientes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">13.</td>
				<td class="tdtabla"> Brinda apoyo emocional al paciente en el preoperatorio inmediato y traslado a los servicios.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">14.</td>
				<td class="tdtabla">Realiza los procedimientos requeridos al llevar al paciente a quirófano.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">15.</td>
				<td class="tdtabla">Prepara quirófano o área específica para recibir al usuario.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">16.</td>
				<td class="tdtabla">Cumple eficientemente las funciones de circulante por lo menos en cinco cirugías.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">17.</td>
				<td class="tdtabla">Realiza lavado de manos quirúrgico correctamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">18.</td>
				<td class="tdtabla">Prepara/ maneja material y equipo estéril previo a instrumentar.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">19.</td>
				<td class="tdtabla">Se viste y viste a otras personas con ropa estéril demostrando seguridad y precisión.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">20.</td>
				<td class="tdtabla">Manipula correctamente instrumental quirúrgico.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">21.</td>
				<td class="tdtabla">Cumple correctamente con funciones de instrumentista en por lo menos cincocirugías.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">22.</td>
				<td class="tdtabla">Desarrolla habilidad para la atención a pacientes durante el trans-operatorio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">23.</td>
				<td class="tdtabla"> Cumple con las normas de control y manejo del equipo a utilizar.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">24.</td>
				<td class="tdtabla">Realiza cuidado posterior al equipo utilizado.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">25.</td>
				<td class="tdtabla">Utiliza correctamente los medios de comunicación en enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">26.</td>
				<td class="tdtabla">Aplica correctamente el test de Aldrette a los usuarios asignados.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">27.</td>
				<td class="tdtabla">Administra medicamentos y tratamientos correctamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">28.</td>
				<td class="tdtabla">Aplica técnicas de aislamiento y asepsia correctamente</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">29.</td>
				<td class="tdtabla">Responde efectivamente a emergencias en la fase post-operatoria inmediata.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">30.</td>
				<td class="tdtabla">Trabaja en equipo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">31.</td>
				<td class="tdtabla">Aplica los principios fundamentales de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">32.</td>
				<td class="tdtabla">Realiza acciones de autocuidado.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">33.</td>
				<td class="tdtabla">Entrega pacientes cumpliendo con lineamientos establecidos. </td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">34.</td>
				<td class="tdtabla">Planifica las acciones diarias a realizar</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">35.</td>
				<td class="tdtabla">Respeta las líneas de autoridad</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
		</table>
		<br>
		<h6><strong>CRITERIOS DE EVALUACIÓN</strong></h6>
		<table class="tabla">
			<tr>
				<td class="tdtabla" style="width: 20%;">MUY BUENO</td>
				<td class="tdtabla" style="width: 60%;">Realiza todas las actividades con pericia</td>
				<td class="tdtabla" style="width: 20%;">2.85</td>
			</tr>
			<tr>
				<td class="tdtabla">BUENO</td>
				<td class="tdtabla">Realiza las actividades con cierta dificultad </td>
				<td class="tdtabla">2.14</td>
			</tr>
			<tr>
				<td class="tdtabla">REGULAR</td>
				<td class="tdtabla">Realiza las actividades con cierta ayuda</td>
				<td class="tdtabla">1.43</td>
			</tr>
			<tr>
				<td class="tdtabla">DEFICIENTE</td>
				<td class="tdtabla">No realiza las actividades por negligencia o falta de pericia</td>
				<td class="tdtabla">0.71</td>
			</tr>
		</table>
		<h6><strong>PARTE II	25 PUNTOS</strong></h6>
		<h6><strong>Aspectos de responsabilidad e interés en su formación.</strong></h6>
		<table class="tabla" style="width: 80%;">
			<tr>
				<th class="tabla" style="width: 60%;">CONTENIDO/ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 40%;">PUNTEO</th>
			</tr>
			<tr>
				<td class="tdtabla">Apoyo integral al paciente.</td>
				<td class="tabla">10</td>
			</tr>
			<tr>
				<td class="tdtabla">Entrega de trabajos solicitados por docente.</td>
				<td class="tabla">5</td>
			</tr>
			<tr>
				<td class="tdtabla">Entrega de evidencia de práctica (fotocopias, fotos, firmas, sigsas y demás).</td>
				<td class="tabla">5</td>
			</tr>
			<tr>
				<td class="tdtabla">Participa en actividades científicas de la Universidad</td>
				<td class="tabla">5</td>
			</tr>
			<tr>
				<th class="tabla">TOTAL</th>
				<th class="tabla">25 PUNTOS</th>
			</tr>
		</table>
		<br>

		<h6>OBSERVACIONES:_______________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<br>
		<br>
		<h6>Nombre y firma de supervisor de práctica: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de estudiante evaluado: _________________________________________________________</h6>
		<br><br><br>
		<h6>Vo.Bo. Coordinador: ____________________________________________________________________________</h6>
		<br><br>
		<center><h6>Año {{year}}</h6></center>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div style="width: 25%; float: right;">
			<img src="https://scontent.fgua5-1.fna.fbcdn.net/v/t39.30808-6/342221787_708801597709377_985985261991588500_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jV1NHWbenWsAX-Qqkpw&_nc_ht=scontent.fgua5-1.fna&oh=00_AfA1cO0ph_YeO5YQvwu5qwQiWDDtOBm-IA3lkMGbihQVRA&oe=656A5286" width="100%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA</h5></center>
		</div>
		<br><br><br><br>
		<center>
			<h5><strong>PLAN DE PRÁCTICA</strong></h5>
			<h5><strong>ATENCIÓN A PACIENTES EN SITUACIÓN MEDICO-QUIRÚRGICA.</strong></h5>
		</center>
		<ol type="I">
			<li>
				<h5><strong>GENERALIDADES:</strong></h5>
				<ol>
					<li>
						<h6><strong>UBICACIÓN: </strong>Tercer Semestre.</h6>
					</li>
					<li>
						<h6><strong>NIVEL: </strong>Técnico Universitario.</h6>
					</li>
					<li>
						<h6><strong>ÁREA: </strong>Asistencial.</h6>
					</li>
					<li>
						<h6><strong>CRÉDITOS:</strong> 3.</h6>
					</li>
					<li>
						<h6><strong>HORAS: </strong>320 horas.</h6>
					</li>
				</ol>
			</li>
			<li>
				<h5><strong>DESCRIPCIÓN:</strong></h5>
				<h6 style="text-align: justify;">Práctica hospitalaria, que le permite al estudiante aplicar los conocimientos recibidos para la atención a pacientes en situación médico-quirúrgica, utilizando el proceso de enfermería para garantizar acciones de cuidado de calidad, pertinentes y libres de riesgo. desarrollando las habilidades requeridas para responder eficientemente a las necesidades de cuidado en cualquiera de las fases de la atención peri-operatorias. Promoviendo además el auto cuidado en la institución hospitalaria y en el hogar, contribuyendo a la reinserción de los usuarios a la sociedad, incrementa sus habilidades para trabajar en equipo y cumplir efectivamente con las cuatro áreas del ejercicio profesional.</h6>
			</li>
			<li>
				<h5><strong>OBJETIVOS:</strong></h5>
				<ol>
					<li>
						<h6 style="text-align: justify;">Brindar atención hospitalaria humanizada de calidad a los usuarios en situaciones médicoquirúrgicas.</h6>
					</li>
					<li>
						<h6 style="text-align: justify;">Utilizar el proceso de enfermería como instrumento esencial del cuidado. </h6>
					</li>
					<li>
						<h6 style="text-align: justify;">Desarrollar acciones de prevención y control de enfermedades utilizando las medidas de asepsia, antisepsia, esterilización, aislamiento, etc.</h6>
					</li>
					<li>
						<h6 style="text-align: justify;">Desarrollar acciones de enseñanza que promuevan el auto cuidado asegurando la participación del individuo y la familia en los diferentes periodos de hospitalización y cuidados en el hogar.</h6>
					</li>
					<li>
						<h6 style="text-align: justify;">Desarrollar acciones recreativas que ayuden a mantener y/o recuperar la salud mental. </h6>
					</li>
				</ol>
			</li>
			<li>
				<h5><strong>ESCENARIOS DE PRÁCTICA:</strong></h5>
				<ol>
					<li>
						<h6>Servicios de cirugía pediátrica y de adultos.</h6>
					</li>
					<li>
						<h6>Servicios de salas de operaciones pediátricas y de adultos. </h6>
					</li>
					<li>
						<h6>Servicios de recuperación pediátricos y de adultos.</h6>
					</li>
				</ol>
			</li>
			
		</ol>

		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 14%;">OBJETIVO</th>
				<th class="tabla" style="width: 29%;">ACTIVIDADES DOCENTES</th>
				<th class="tabla" style="width: 37%;">ACTIVIDADES DEL ESTUDIANTE</th>
				<th class="tabla" style="width: 20%;">CRITERIOS DE EVALUACIÓN</th>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol>
						<li>Brindar atención hospitalaria humanizada de calidad a los usuarios en situaciones médicoquirúrgicas. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asignación de actividades individuales diarias.</li>
						<li>Supervisión capacitante de procedimientos de enfermería.</li>
						<li>Rondas de enfermería.</li>
						<li>Revisión corrección y asesoría individual y en grupo de actividades asignadas para ser realizadas dentro y fuera del campo de práctica.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asistir puntualmente a sus actividades.</li>
						<li>Utilizar el plan de atención de enfermería.</li>
						<li>Utilizar la fundamentación científica necesaria para la realización de procedimientos.</li>
						<li>Brindar apoyo emocional en todo momento al usuario y familia.</li>
						<li>Respetar al usuario y familia en todo momento.</li>
						<li>Informar al usuario y familia las acciones de enfermería realizada y por realizar de acuerdo a las normas de información de la institución.</li>
						<li>Realizar procedimientos de enfermería con la habilidad requerida.</li>
						<li>Abstenerse de realizar procedimientos para los cuales no esté preparado/a.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Formato de práctica.</li>
						<li>Observación directa e indirecta.</li>
						<li>Referencias de miembros del equipo.</li>
						<li>Referencia de usuario y familia.</li>
						<li>Planes de cuidado.</li>
						<li>Trabajos escritos.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="2">
						<li>Utilizar el proceso de enfermería como instrumento esencial del cuidado. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asignación de pacientes.</li>
						<li>Revisión y asesoría en la elaboración de planes de cuidado. </li>
						<li>Revisión en el cumplimiento de acciones establecidas en el plan de cuidados.</li>
						<li>Coordinación para el seguimiento de los planes de cuidado por el personal institucional.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="9">
						<li>Aplicar todas las etapas del proceso de enfermería. </li>
						<li>Utilizar el plan de cuidados como herramienta básica de cuidado. </li>
						<li>Elaborar diariamente planes de cuidado. </li>
						<li>Entregar turno utilizando como herramienta el plan de cuidados. </li>
						<li>Recibir turno en base al plan de cuidados.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Formato de práctica.</li>
						<li>Observación directa e indirecta.</li>
						<li>Planes de cuidado.</li>
						<li>Trabajos escritos.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="3">
						<li>Desarrollar acciones de prevención y control de enfermedades utilizando las medidas de asepsia, antisepsia, esterilización, aislamiento, etc. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Realizar asignaciones individuales y de grupo en base a criterios establecidos</li>
						<li>Supervisión capacitante continua. </li>
						<li>Asegurarse del cumplimiento de acciones de aislamiento requeridas.</li>
						<li>Asegurarse de la realización de procedimientos de acuerdo a los principios establecidos.</li>
						<li>Asegurarse del cumplimiento de acciones en las áreas asignadas.</li>
						<li>Acompañar individualmente a los estudiantes en la realización de procedimientos.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="14">
						<li>Utilizar apropiadamente el uniforme respectivo</li>
						<li>Realizar procedimientos de enfermería en las diferentes áreas de práctica y asignaciones utilizando fundamentación científica.</li>
						<li>Realizar procedimientos en las fases pre-operatoria, post-operatoria, instrumentar procedimientos quirúrgicos, circular procedimientos quirúrgicos, cuidados de enfermería en las diferentes etapas del pos-operatorio.</li>
						<li>Aplicar las técnicas de asepsia y antisepsia efectivamente.</li>
						<li>Aplicar la fundamentación científica al momento de realizar procedimientos</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Formato de práctica.</li>
						<li>Observación directa e indirecta.</li>
						<li>Comportamiento apropiado. </li>
						<li>Material elaborado y/o utilizado para la realización de acciones.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="4">
						<li>Desarrollar acciones recreativas que ayuden a mantener y/o recuperar la salud mental. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asigna actividades.</li>
						<li>Supervisa las acciones.</li>
						<li>Asesora antes, durante y después de la realización de acciones.</li>
						<li>Evalúa conjuntamente con los alumnos los resultados de las acciones realizadas. </li>
						<li>Apoya al estudiante en la realización de acciones.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="19">
						<li>Cumple con asignaciones. </li>
						<li>Es responsable en la realización de acciones.</li>
						<li>Demuestra interés en la aplicación y enseñanza del autocuidado.</li>
						<li>Demuestra creatividad.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Formato de práctica.</li>
						<li>Observación directa e indirecta.</li>
						<li>Encuestas de satisfacción.</li>
						<li>Trabajos escritos. </li>
						<li>Diseño de material específico. </li>
					</ol>
				</td>
			</tr>
		</table>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>
</html>