<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title>Sistema de caja - {{ title }}</title>
    {% else %}
        <title>Sistema de caja</title>
    {% endif %}
         <link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
	<style type="text/css">
	body {
		background: #ffffff;
		margin-top: 5rem;
	}
	table {
		border: 0px;
		width: 100%;
	}
	td, th {
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 30px;
	}

	td {
		border-bottom: #000000 1px solid;
		text-align: center;
		vertical-align: bottom;
	}

	th {
		text-align: left;
		vertical-align: bottom;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000000;
	}
	p {
		size: 12px;
	}
	.tabla {
		border: #000000 1px solid;
		text-align: center;
		vertical-align: middle;
		height: 20px;
	}
	.tdtabla {
		border: #000000 1px solid;
		text-align: left;
		vertical-align: middle;
		height: 35px;
	}
	.tdtablaev {
		border: #000000 1px solid;
		text-align: left;
		vertical-align: middle;
		height: 20px;
	}
</style>
</head>
<body>
    <main role="main" class="container">
		<div style="width: 70%; float: left;">
			<h5>UNIVERSIDAD GALILEO<br>SEDE QUETZALTENANGO<br>TÉCNICO UNIVERSITARIO EN HEMODIÁLISIS<br>ASISTENCIA A PRÁCTICA</h5>
		</div>
		<div style="width: 25%; float: right;">
			<img src="https://eventos.galileo.edu/images/logo-noslogan.png" width="100%"> 
		</div>
		<br><br><br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre: </th>
				<td style="width: 40%;">{{nombre}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 15%;">{{carnet}}</td>
				<th style="width: 10%;">Hoja No: </th>
				<td style="width: 5%;">1</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td></td>
				<th>Jornada: </th>
				<td></td>
				<th colspan="2"></th>
			</tr>
		</table>
		<br><br>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 5%;"></th>
				<th class="tabla" style="width: 10%;">Fecha</th>
				<th class="tabla" style="width: 15%;">Hora de Entrada</th>
				<th class="tabla" style="width: 15%;">Hora de Salida</th>
				<th class="tabla" style="width: 15%;">Total horas</th>
				<th class="tabla" style="width: 20%;">Nombre de quien firma</th>
				<th class="tabla" style="width: 20%;">Firma</th>
			</tr>
			{% for i in range(25) %}
			<tr>
				<td class="tdtabla">{{i + 1}}</td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
			</tr>
			{% endfor %}
		</table>
		<br><br>
		<div style="width: 70%; float: left;">
			<h5>UNIVERSIDAD GALILEO<br>SEDE QUETZALTENANGO<br>TÉCNICO UNIVERSITARIO EN HEMODIÁLISIS<br>ASISTENCIA A PRÁCTICA</h5>
		</div>
		<div style="width: 25%; float: right;">
			<img src="https://eventos.galileo.edu/images/logo-noslogan.png" width="100%"> 
		</div>
		<br><br><br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre: </th>
				<td style="width: 40%;">{{nombre}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 15%;">{{carnet}}</td>
				<th style="width: 10%;">Hoja No: </th>
				<td style="width: 5%;">2</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td></td>
				<th>Jornada: </th>
				<td></td>
				<th colspan="2"></th>
			</tr>
		</table>
		<br><br>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 5%;"></th>
				<th class="tabla" style="width: 10%;">Fecha</th>
				<th class="tabla" style="width: 15%;">Hora de Entrada</th>
				<th class="tabla" style="width: 15%;">Hora de Salida</th>
				<th class="tabla" style="width: 15%;">Total horas</th>
				<th class="tabla" style="width: 20%;">Nombre de quien firma</th>
				<th class="tabla" style="width: 20%;">Firma</th>
			</tr>
			{% for i in range(25) %}
			<tr>
				<td class="tdtabla">{{i + 1}}</td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
				<td class="tdtabla" ></td>
			</tr>
			{% endfor %}
		</table><br>
		<div style="width: 70%; float: left;">
			<h5>UNIVERSIDAD GALILEO<br>SEDE QUETZALTENANGO<br>TÉCNICO UNIVERSITARIO EN HEMODIÁLISIS<br>ASISTENCIA A PRÁCTICA</h5>
		</div>
		<div style="width: 25%; float: right;">
			<img src="https://eventos.galileo.edu/images/logo-noslogan.png" width="100%"> 
		</div>
		<br><br><br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre del estudiante: </th>
				<td colspan="3">{{nombre}}</td>
			</tr>
			<tr>
				<th>Centro de práctica: </th>
				<td style="width: 30%;"></td>
				<th>Carnet: </th>
				<td style="width: 30%;">{{carnet}}</td>
			</tr>
		</table><br>
		<h6><strong>Descripción:</strong></h6>
		<p style="text-align: justify;">Práctica donde permite que el estudiante tenga oportunidad de poder aprender y realizar las acciones de cuidado al paciente con tratamiento de Hemodiálisis y poner en práctica los conocimientos teóricos, brindar un tratamiento individualizado a cada paciente cumpliendo con las órdenes médicas, proporcionar la salud al paciente y familia.</p>
		<h6><strong>Objetivos:</strong></h6>
		<ul>
			<li style="text-align: justify;">Realizar la conexión del paciente con la maquina de hemodiálisis.</li>
			<li style="text-align: justify;">Participar en la promoción de la salud y autocuidado del paciente.</li>
			<li style="text-align: justify;">Brindar una atención integral al paciente con fundamento ético, moral y aplicando conocimientos científicos en la unidad de hemodiálisis.</li>
		</ul>
		<table class="tabla">
			<tr>
				<th class="tabla" colspan="3">DESEMPEÑOS A REALIZAR EN LA PRÁCTICA</th>
				<th class="tabla">PUNTEO</th>
			</tr>
			<tr>
				<th class="tabla" rowspan="21" style="width: 5%;">1</th>
				<th class="tabla" rowspan="21" style="width: 20%;">Habilidades técnicas a realizar en la práctica</th>
				<td class="tdtablaev" style="width: 60%;">Se orienta en el área de práctica de la unidad de Hemodiálisis.</td>
				<td class="tdtablaev" style="width: 15%;"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza lavado del riñon artificial al inicio de cada turno.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza control de S/V al paciente en la pre-hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza el cebado de la máquina de hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Brinda atención integral al paciente, y lo orienta en cada hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza lavado de manos clínico antes y después de cada procedimiento.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza asepsia del catéter y/o fistula de de hemodiálisis del paciente.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Protege el equipo y material estéril durante el procedimiento.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Practíca medidas de bioseguridad.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza la conexión del paciente a la máquina de hemodiálisis a través de las lineas.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Participa en la Visita Médica.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Administra medicamentos al paciente en hemodiálisis por las vías indicadas.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Reporta oportunamente alteraciones en la hemodiálisis del paciente.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza retorno de la máquina.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza asepsia del catéter y fijación del catéter correctamente.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Protege la fistula del paciente al final del procedimiento de Hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Descarta el material usado en el lugar correspondiente.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Da cuidado al equipo y al material usado en cada procedimiento.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza el llenado de la hoja de protocolo de tratamiento de Hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Brinda educación al paciente y familia a través de temas educativos .</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Realiza ficheo de medicamentos existentes en el servicio de hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<th class="tabla" rowspan="5">2</th>
				<th class="tabla" rowspan="5">Comportamientos profesionales</th>
				<td class="tdtablaev">Se responsabiliza en el aprendizaje.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Busca oportunidades para adquirir habilidades.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Pone en práctica las sugerencias que se le indican.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Demuestra interés por su progreso personal y profesional.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Fundamenta sus acciones con principios científicos.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<th class="tabla" rowspan="2">3</th>
				<th class="tabla" rowspan="2">Presentación Personal</th>
				<td class="tdtablaev">Porta el uniforme correctamente de acuerdo a normas de la unidad de Hemodiálisis.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">En su presentación toma en cuenta principios de higiene personal.</td>
				<td class="tdtablaev"></td>
			</tr>
		</table>
		<br><br><br><br><br>
		<table>
			<tr>
				<th class="tabla" rowspan="7" style="width: 5%;">4</th>
				<th class="tabla" rowspan="7" style="width: 20%;">Es responsable en el cumplimiento de sus actividades</th>
				<td class="tdtablaev" style="width: 60%;">Es puntual para asistir a práctica.</td>
				<td class="tdtablaev" style="width: 15%;"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Es puntual en la entrega de sus trabajos.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Permanece en el área de práctica hasta concluir sus actividades.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Justifica sus ausencias del área de práctica.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Establece una buena comunicación con usuarios, familiares, personal de la unidad y compañeros.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Demuestra amabilidad, cortesía y respeto al dar atención al usuario y familiares.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">El vocabulario y ademanes que utiliza son adecuados.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<th class="tabla" rowspan="5">5</th>
				<th class="tabla" rowspan="5">Demuestra actitud ético Profesional</th>
				<td class="tdtablaev">Demuestra veracidad en las informaciones que brinda.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Es discreto con la información que se le confía.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Protege la individualidad del usuario durante el procedimiento.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Demuestra espíritu de servicio en la atención al usuario.</td>
				<td class="tdtablaev"></td>
			</tr>
			<tr>
				<td class="tdtablaev">Participa en actividades cientificas del área de práctica.</td>
				<td class="tdtablaev"></td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="tdtablaev" style="width: 55%;"><strong>Criterio de evaluación</strong><br>El punto minimo es 0 y el máximo 2.5 por cada reglón componente de la calificación</td>
				<th class="tabla" style="width: 30%;">TOTAL</th>
				<th class="tabla" style="width: 15%;"></th>
			</tr>
		</table>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">PUNTEO FINAL</th>
				<td style="width: 20%;"></td>
				<th style="width: 20%;"></th>
				<td style="width: 40%;"></td>
			</tr>
			<tr>
				<th></th>
				<th style="vertical-align: top; text-align: center;">Número</th>
				<th></th>
				<th style="vertical-align: top; text-align: center;">En letras</th>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre del estudiante: </th>
				<td></td>
			</tr>
		</table>
		<br><br>
		<table>
			<tr>
				<th style="width: 5%;">Firma: </th>
				<td style="width: 45%;"></td>
				<th  style="width: 5%;">Carnet: </th>
				<td style="width: 45%;"></td>
			</tr>
		</table>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 25%;">Nombre del Jefe de Servicio: </th>
				<td></td>
			</tr>
		</table>
		<br><br>
		<table>
			<tr>
				<th style="width: 5%;">Firma: </th>
				<td style="width: 45%;"></td>
				<th  style="width: 5%;">Sello: </th>
				<td style="width: 45%;"></td>
			</tr>
		</table>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 30%;">Nombre del Supervisor de práctica: </th>
				<td></td>
			</tr>
		</table>
		<br><br>
		<table>
			<tr>
				<th style="width: 5%;">Firma: </th>
				<td style="width: 95%;"></td>
			</tr>
		</table>
		<br><br><br>
		<center><p>Quetzaltenango, {{year}}</p></center>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>
</html>