<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title>Sistema de caja - {{ title }}</title>
    {% else %}
        <title>Sistema de caja</title>
    {% endif %}
         <link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
	<style type="text/css">
	body {
		background: #ffffff;
		margin-top: 5rem;
	}
	table {
		border: 0px;
		width: 100%;
	}
	td, th {
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: 0px;
		height: 30px;
	}

	td {
		border-bottom: #000000 1px solid;
		text-align: center;
		vertical-align: bottom;
	}

	th {
		text-align: left;
		vertical-align: bottom;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000000;
	}
	p {
		size: 12px;
	}
	.tabla {
		border: #000000 1px solid;
		text-align: center;
		vertical-align: middle;
		height: 20px;
	}
	.tdtabla {
		border: #000000 1px solid;
		text-align: left;
		vertical-align: middle;
		height: 20px;
	}
	.tablaobjetivos {
		border: #000000 1px solid;
		text-align: justify;
		vertical-align: top;
	}
</style>
</head>
<body>
    <main role="main" class="container">
		<div style="width: 25%; float: right;">
			<img src="C:\Users\galileoserver\Documents\sispagosGalileo\flaskapp\static\logofacisasalud.jpg" width="80%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA<br>PRÁCTICA ADMINISTRATIVA”<br><strong>ÁREA HOSPITALARIA</strong></h5></center>
		</div>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre completo: </th>
				<td colspan="3">{{practica[0]}}</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td colspan="3">{{practica[3]}}</td>
			</tr>
			<tr>
				<th>Periodo de práctica: </th>
				<td style="width: 50%;">{{practica[4]}} al {{practica[5]}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 20%;">{{practica[1]}}</td>
			</tr>
			<tr>
				<th>Fecha: </th>
				<td></td>
				<th>Punteo: </th>
				<td></td>
			</tr>
			<tr>
				<td colspan="4" style="border: #ffffff;">VALOR 100 PUNTOS</td>
			</tr>
		</table>
		<table class="tabla">
			<tr>	
				<th class="tabla" style="width: 7%;">No.</th>
				<th class="tabla" style="width: 78%;">ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 5%;">1ra.</th>
				<th class="tabla" style="width: 5%;">2da.</th>
				<th class="tabla" style="width: 5%;">3ra.</th>
			</tr>
			<tr>
				<td class="tdtabla">1.</td>
				<td class="tdtabla">Cumple el horario de práctica con puntualidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">2.</td>
				<td class="tdtabla">Evidencia actitud profesional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">3.</td>
				<td class="tdtabla">Es puntual en todas las actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">4.</td>
				<td class="tdtabla">Presenta plan de orientación lleno, con informe adjunto.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">5.</td>
				<td class="tdtabla">Presenta gráfica de Gantt/cronograma de todas las actividades a desarrollar.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">6.</td>
				<td class="tdtabla">Maneja correctamente los informes y la programación de actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">7.</td>
				<td class="tdtabla">Mantiene buenas relaciones interpersonales.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">8.</td>
				<td class="tdtabla">Es dedicada(o) y organizada(o) al desempeñar sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">9.</td>
				<td class="tdtabla">Tiene iniciativa y creatividad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">10.</td>
				<td class="tdtabla">Respeta las costumbres, creencias y derechos del usuario/a.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">11.</td>
				<td class="tdtabla">Conoce cada miembro del equipo de trabajo y sus asignaciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">12.</td>
				<td class="tdtabla">Aplica las cuatro áreas del ejercicio profesional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">13.</td>
				<td class="tdtabla">Presenta los planes de actividades semanales.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">14.</td>
				<td class="tdtabla">Elabora asignaciones y verifica su cumplimiento.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">15.</td>
				<td class="tdtabla">Realiza ronda de enfermería adecuadamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">16.</td>
				<td class="tdtabla">Realiza y verifica censo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">17.</td>
				<td class="tdtabla">Recibe y entrega turno adecuadamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">18.</td>
				<td class="tdtabla">Participa activamente en la visita médica.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">19.</td>
				<td class="tdtabla">Tramita órdenes médicas acertadamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">20.</td>
				<td class="tdtabla">Administra medicamentos correctamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">21.</td>
				<td class="tdtabla">Recolecta muestras de laboratorio correctamente</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">22.</td>
				<td class="tdtabla">Presenta pacientes adecuadamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">23.</td>
				<td class="tdtabla">Revisa y elabora reporte de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">24.</td>
				<td class="tdtabla">Realiza diariamente cuidados de enfermería al menos a un usuario asignado.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">25.</td>
				<td class="tdtabla">Presenta un mínimo de 15 planes de atención de atención de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">26.</td>
				<td class="tdtabla">Elabora y presenta evidencia de trámites administrativos con base a normas internas de la Institución.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">27.</td>
				<td class="tdtabla">Administra alimentación enteral/parenteral a pacientes y garantiza su administración.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">28.</td>
				<td class="tdtabla">Realiza correctamente diagnóstico y tratamiento de los usuarios que atiende.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">29.</td>
				<td class="tdtabla">Presenta y realiza trabajos asignados.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">30.</td>
				<td class="tdtabla">Sustenta todas sus acciones científicamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">31.</td>
				<td class="tdtabla">Aprovecha oportunidades de aprendizaje.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">32.</td>
				<td class="tdtabla">Cumple con actividades asignadas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">33.</td>
				<td class="tdtabla">Se informa de la situación del servicio y de cada uno de los usuarios.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">34.</td>
				<td class="tdtabla">Realiza sus reportes verbales y escritos con veracidad, claridad y en base a normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">35.</td>
				<td class="tdtabla">Realiza las tareas y procedimientos con habilidad y secuencia lógica.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">36.</td>
				<td class="tdtabla">Realiza todas las actividades relacionadas con el abastecimiento de medicamentos, suministros, equipo y todas aquellas que garanticen una atención de calidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">37.</td>
				<td class="tdtabla">Elabora/analiza/actualiza sala situacional de la unidad asignada.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">38.</td>
				<td class="tdtabla">Realiza y/o participa en conferencias clínicas y de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">39.</td>
				<td class="tdtabla">Supervisa la atención de enfermería que reciben los usuarios.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">40.</td>
				<td class="tdtabla">Realiza al menos 02 evaluaciones del desempeño.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">41.</td>
				<td class="tdtabla">Presenta plan educativo a usuarios con material educativo utilizado para su desarrollo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">42.</td>
				<td class="tdtabla">Coordina adecuadamente para brindar atención de calidad a los pacientes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">43.</td>
				<td class="tdtabla">Aplica proceso de enfermería a usuarios.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">44.</td>
				<td class="tdtabla">Brinda atención a usuarios en base a normas, manuales, protocolos, entre otros.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">45.</td>
				<td class="tdtabla">Realiza referencias y contra referencias de acuerdo a normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">46.</td>
				<td class="tdtabla">Utiliza y promueve la medicina alternativa.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">47.</td>
				<td class="tdtabla">Realiza y ejecuta programa educativo a usuarios y familia.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">48.</td>
				<td class="tdtabla">Realiza y ejecuta al menos una acción de educación permanente en el servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">49.</td>
				<td class="tdtabla">Realiza acciones de educación incidental diariamente con los usuarios y familia.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">50.</td>
				<td class="tdtabla">Presenta planeamiento y recurso utilizado en acciones de educación permanente (al menos una).</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">51.</td>
				<td class="tdtabla">Presenta conocimiento/acta de asistencia a reuniones de personal/de servicio (al menos una).</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">52.</td>
				<td class="tdtabla">Realiza acciones de educación incidental al personal de enfermería y otros.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">53.</td>
				<td class="tdtabla">Presenta planes de supervisión e informe (2).</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">54</td>
				<td class="tdtabla">Presenta plan de promoción de la salud y evidencias de su ejecución.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">55.</td>
				<td class="tdtabla">Realiza/actualiza/analiza y elabora informe semanal de la situación epidemiológica del servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">56.</td>
				<td class="tdtabla">Realiza al menos dos estudios de caso de pacientes atendidos en el servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">57.</td>
				<td class="tdtabla">Observa, investiga y fundamenta por escrito al menos dos prácticas de enfermería que se realizan en el servicio que no forman parte del cuerpo de conocimientos de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">58.</td>
				<td class="tdtabla">Realiza informe final en donde incorpora copia de todo evidencia de sus acciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<th class="tabla" colspan="2">TOTAL</th>
				<td class="tabla" colspan="3"></td>
			</tr>
		</table>
		<br>
		<h6><strong>CRITERIOS DE EVALUACIÓN</strong></h6>
		<table class="tabla">
			<tr>
				<td class="tdtabla" style="width: 20%;">MUY BUENO</td>
				<td class="tdtabla" style="width: 60%;">Realiza todas las actividades con pericia e interés</td>
				<td class="tdtabla" style="width: 20%;">0.43</td>
			</tr>
			<tr>
				<td class="tdtabla">BUENO</td>
				<td class="tdtabla">Realiza las actividades con cierta dificultad o con poco interés</td>
				<td class="tdtabla">0.32</td>
			</tr>
			<tr>
				<td class="tdtabla">REGULAR</td>
				<td class="tdtabla">Realiza las actividades con dificultad o sin interés</td>
				<td class="tdtabla">0.22</td>
			</tr>
			<tr>
				<td class="tdtabla">DEFICIENTE</td>
				<td class="tdtabla">Realiza las actividades con mucha limitación y sin interés</td>
				<td class="tdtabla">0.11</td>
			</tr>
			<tr>
				<th class="tabla">TOTAL</th>
				<th class="tabla">Suma de punteos (enfermera 25 y docente 25)</th>
				<td class="tdtabla">50</td>
			</tr>
		</table>
		<br><br>
		<h6>OBSERVACIONES:_______________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<br>
		<br>
		<h6>Nombre y firma de supervisor de práctica: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de estudiante evaluado: _________________________________________________________</h6>
		<br><br><br>
		<h6>Vo.Bo. Coordinador: ____________________________________________________________________________</h6>
		<br><br>
		<center><h6>Año {{year}}</h6></center>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div style="width: 25%; float: right;">
			<img src="C:\Users\galileoserver\Documents\sispagosGalileo\flaskapp\static\logofacisasalud.jpg" width="80%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA<br>PRÁCTICA ADMINISTRATIVA”<br><strong>CENTRO DE SALUD</strong></h5></center>
		</div>
		<br><br><br>
		<table>
			<tr>
				<th style="width: 20%;">Nombre completo: </th>
				<td colspan="3">{{practica[0]}}</td>
			</tr>
			<tr>
				<th>Lugar de práctica: </th>
				<td colspan="3">{{practica[3]}}</td>
			</tr>
			<tr>
				<th>Periodo de práctica: </th>
				<td style="width: 50%;">{{practica[4]}} al {{practica[5]}}</td>
				<th style="width: 10%;">Carnet: </th>
				<td style="width: 20%;">{{practica[1]}}</td>
			</tr>
			<tr>
				<th>Fecha: </th>
				<td></td>
				<th>Punteo: </th>
				<td></td>
			</tr>
			<tr>
				<td colspan="4" style="border: #ffffff;">VALOR 50 PUNTOS</td>
			</tr>
		</table>
		<table class="tabla">
			<tr>	
				<th class="tabla" style="width: 7%;">No.</th>
				<th class="tabla" style="width: 78%;">ASPECTOS A EVALUAR</th>
				<th class="tabla" style="width: 5%;">1ra.</th>
				<th class="tabla" style="width: 5%;">2da.</th>
				<th class="tabla" style="width: 5%;">3ra.</th>
			</tr>
			<tr>
				<td class="tdtabla">1.</td>
				<td class="tdtabla">Cumple el horario de práctica con puntualidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">2.</td>
				<td class="tdtabla">Evidencia actitud profesional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">3.</td>
				<td class="tdtabla">Es puntual en todas las actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">4.</td>
				<td class="tdtabla">Presenta plan de orientación lleno, con informe adjunto.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">5.</td>
				<td class="tdtabla">Presenta gráfica de Gantt/cronograma de todas las actividades a desarrollar.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">6.</td>
				<td class="tdtabla">Maneja correctamente los informes y la programación de actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">7.</td>
				<td class="tdtabla">Mantiene buenas relaciones interpersonales.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">8.</td>
				<td class="tdtabla">Es dedicada(o) y organizada(o) al desempeñar sus actividades.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">9.</td>
				<td class="tdtabla">Tiene iniciativa y creatividad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">10.</td>
				<td class="tdtabla">Respeta las costumbres, creencias y derechos del usuario/a.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">11.</td>
				<td class="tdtabla">Conoce cada miembro del equipo de trabajo y sus asignaciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">12.</td>
				<td class="tdtabla">Aplica las cuatro áreas del ejercicio profesional.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">13.</td>
				<td class="tdtabla">Presenta los planes de actividades semanales.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">14.</td>
				<td class="tdtabla">Elabora asignaciones y verifica su cumplimiento.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">15.</td>
				<td class="tdtabla">Presenta plan de capacitación a comadronas (al menos una actividad).</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">16.</td>
				<td class="tdtabla">Informa número total de comadronas y detalla las acciones que se realizan con ellas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">17.</td>
				<td class="tdtabla">Presenta registro de 10 consultas con AIEPI.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">18.</td>
				<td class="tdtabla">Presenta registro de 10 consultas a gestantes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">19.</td>
				<td class="tdtabla">Presenta registro de 5 consultas a puérperas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">20.</td>
				<td class="tdtabla">Presenta registro de 3 consultas a adolescentes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">21.</td>
				<td class="tdtabla">Informa las coberturas de vacunación.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">22.</td>
				<td class="tdtabla">Informa sobre metas y avances del programa de TB.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">23.</td>
				<td class="tdtabla">Informa sobre las enfermedades vectoriales.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">24.</td>
				<td class="tdtabla">Informa los casos de muerte materna.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">25.</td>
				<td class="tdtabla">Informa los casos de muertes infantiles.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">26.</td>
				<td class="tdtabla">Informa las primeras causas de morbilidad semanal.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">27.</td>
				<td class="tdtabla">Realiza análisis de SIGSA 18.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">28.</td>
				<td class="tdtabla">Elabora y presenta evidencia de trámites administrativos con base a normas internas de la Institución.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">29.</td>
				<td class="tdtabla">Analiza situación nutricional de su servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">30.</td>
				<td class="tdtabla">Realiza todas las actividades relacionadas con el abastecimiento de medicamentos, suministros, equipo y todas aquellas que garanticen una atención de calidad.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">31.</td>
				<td class="tdtabla">Realiza correctamente diagnóstico y tratamiento de los usuarios que atiende.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">32.</td>
				<td class="tdtabla">Presenta un mínimo de 15 planes de atención de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">33.</td>
				<td class="tdtabla">Informa de mapeo o situación de riesgo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">34.</td>
				<td class="tdtabla">Informa de brotes sucedidos en el servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">35.</td>
				<td class="tdtabla">Analiza las acciones de IEC que se realizan en el servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">36.</td>
				<td class="tdtabla">Realiza al menos 02 evaluaciones del desempeño.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">37.</td>
				<td class="tdtabla">Presenta plan educativo a usuarios con material educativo utilizado para su desarrollo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">38.</td>
				<td class="tdtabla">Presenta planeamiento y recurso utilizado en acciones de educación permanente (al menos una).</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">39.</td>
				<td class="tdtabla">Presenta copia u otro medio de verificación de trámites administrativos.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">40.</td>
				<td class="tdtabla">Presenta plan de promoción de la salud y evidencias de su ejecución.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">41.</td>
				<td class="tdtabla">Realiza al menos dos visitas domiciliarias a 2 familias de alto riesgo.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">42.</td>
				<td class="tdtabla">Realiza proceso de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">43.</td>
				<td class="tdtabla">Presenta y realiza trabajos asignados.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">44.</td>
				<td class="tdtabla">Sustenta todas sus acciones científicamente.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">45.</td>
				<td class="tdtabla">Aprovecha oportunidades de aprendizaje.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">46.</td>
				<td class="tdtabla">Cumple con actividades asignadas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">47.</td>
				<td class="tdtabla">Se informa de la situación del servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">48.</td>
				<td class="tdtabla">Realiza sus reportes verbales y escritos con veracidad, claridad y en base a normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">49.</td>
				<td class="tdtabla">Realiza las tareas y procedimientos con habilidad y secuencia lógica.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">50.</td>
				<td class="tdtabla">Realiza todas las actividades relacionadas con el abastecimiento de medicamentos, suministros, equipo y todas aquellas que garanticen una atención oportuna.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">51.</td>
				<td class="tdtabla">Elabora/analiza/actualiza sala situacional del servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">52.</td>
				<td class="tdtabla">Realiza y/o participa en conferencias clínicas y de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">53.</td>
				<td class="tdtabla">Supervisa la atención de enfermería que reciben los usuarios.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">54</td>
				<td class="tdtabla">Supervisa 2 puestos de salud y entrega informe.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">55.</td>
				<td class="tdtabla">Coordina adecuadamente para brindar atención de calidad a los pacientes.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">56.</td>
				<td class="tdtabla">Brinda atención a usuarios con base a normas, manuales, protocolos, entre otros.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">57.</td>
				<td class="tdtabla">Realiza referencias y contra referencias de acuerdo a normas.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">58.</td>
				<td class="tdtabla">Utiliza y promueve la medicina alternativa.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">59.</td>
				<td class="tdtabla">Maneja correctamente SIGSA.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">60.</td>
				<td class="tdtabla">Realiza y ejecuta programa educativo a usuarios y familia.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">61.</td>
				<td class="tdtabla">Realiza acciones de educación incidental diariamente con los usuarios y familia.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">62.</td>
				<td class="tdtabla">Presenta conocimiento/acta de asistencia a reuniones de personal/de servicio (al menos una).</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">63.</td>
				<td class="tdtabla">Realiza acciones de educación incidental al personal de enfermería y otros.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">64</td>
				<td class="tdtabla">Presenta plan de promoción de la salud y evidencias de su ejecución.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">65.</td>
				<td class="tdtabla">Realiza al menos dos estudios de caso de pacientes atendidos en el servicio.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">66.</td>
				<td class="tdtabla">Brinda atención a usuarios con base a normas, manuales, protocolos, entre otros.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">67.</td>
				<td class="tdtabla">Observa, investiga y fundamenta por escrito al menos dos prácticas de enfermería que se realizan en el servicio que no forman parte del cuerpo de conocimientos de enfermería.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
			<tr>
				<td class="tdtabla">68.</td>
				<td class="tdtabla">Realiza informe final en donde incorpora copia de todo evidencia de sus acciones.</td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
				<td class="tdtabla"></td>
			</tr>
		</table>
		<br>
		<h6><strong>CRITERIOS DE EVALUACIÓN</strong></h6>
		<table class="tabla">
			<tr>
				<td class="tdtabla" style="width: 20%;">MUY BUENO</td>
				<td class="tdtabla" style="width: 60%;">Realiza todas las actividades con pericia e interés</td>
				<td class="tdtabla" style="width: 20%;">0.37</td>
			</tr>
			<tr>
				<td class="tdtabla">BUENO</td>
				<td class="tdtabla">Realiza las actividades con cierta dificultad o con poco interés</td>
				<td class="tdtabla">0.28</td>
			</tr>
			<tr>
				<td class="tdtabla">REGULAR</td>
				<td class="tdtabla">Realiza las actividades con dificultad o sin interés</td>
				<td class="tdtabla">0.18</td>
			</tr>
			<tr>
				<td class="tdtabla">DEFICIENTE</td>
				<td class="tdtabla">Realiza las actividades con mucha limitación y sin interés</td>
				<td class="tdtabla">0.09</td>
			</tr>
			<tr>
				<th class="tabla">TOTAL</th>
				<th class="tabla">Suma de punteos (enfermera 25 y docente 25)</th>
				<td class="tdtabla">50</td>
			</tr>
		</table>
		<br><br><br><br><br><br>
		<center>
		<p>_________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_________________________</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Primera Visita&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Segunda Visita&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tercera Visita</p>
		</center>
		<br>
		<h6>OBSERVACIONES:_______________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<h6>_________________________________________________________________________________________________________________________________</h6>
		<br>
		<br>
		<h6>Nombre y firma de enfermera de servicio: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de supervisor de práctica: ______________________________________________________</h6>
		<br>
		<h6>Nombre y firma de estudiante evaluado: _________________________________________________________</h6>
		<br><br><br>
		<h6>Vo.Bo. Coordinador: ____________________________________________________________________________</h6>
		<br><br>
		<center><h6>Año {{year}}</h6></center>
		<div style="width: 25%; float: right;">
			<img src="C:\Users\galileoserver\Documents\sispagosGalileo\flaskapp\static\logofacisasalud.jpg" width="80%"> 
		</div>
		<div style="width: 70%; float: right;">
			<center><h5>FACULTAD DE CIENCIAS DE LA SALUD<br>TÉCNICO UNIVERSITARIO EN ENFERMERÍA</h5></center>
		</div>
		<br><br><br><br>
		<center>
			<h5><strong>PLAN DE PRÁCTICA “ADMINISTRACIÓN DE LOS SERVICIOS”</strong></h5>
		</center>
		<h6><strong>UBICACIÓN: </strong>SEXTO SEMESTRE DE LA CARRERA “TÉCNICO UNIVERSITARIO EN ENFERMERÍA”.</h6>
		<h6><strong>HORAS: </strong>320.</h6>
		<h6><strong>PRERREQUISITOS: </strong>APROBAR LA FASE TEÓRICA.</h6>
		<h6><strong>OBJETIVOS GENERALES: </strong></h6>
		<ol>
			<li>Desarrollar las habilidades gerenciales para la administración de los servicios de salud.</li>
			<li>Desarrollar las habilidades indispensables para la gerencia del cuidado de enfermería.</li>
			<li>Aplicar el proceso administrativo para asegurar la eficiencia de los recursos humanos y de la fuerza laboral.</li>
			<li>Aplicar el proceso de enfermería y los modelos y/o teorías de enfermería para la coordinación de la administración de la atención a los usuarios.</li>
			<li>Aplicar los principios, filosóficos, éticos y legales durante la administración de los servicios y del cuidado de enfermería.</li>
		</ol>
		<table class="tabla">
			<tr>
				<th class="tabla" style="width: 19%;">OBJETIVOS DOCENTES</th>
				<th class="tabla" style="width: 22%;">ACTIVIDADES DOCENTES</th>
				<th class="tabla" style="width: 19%;">OBJETIVOS DEL ESTUDIANTE</th>
				<th class="tabla" style="width: 40%;">ACTIVIDADES DEL ESTUDIANTE</th>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol>
						<li>Evaluar el grado de orientación física y administrativa del área asignada.</li>
						<li>Evaluar los instrumentos utilizados para lograr el objetivo.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asesorar la elaboración de los instrumentos y/o formatos para asegurar la adecuada orientación.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Orientarse en la planta física y las normas administrativas, del área asignada. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Elaboración de instrumentos de auto-orientación.</li>
						<li>Evaluación de instrumentos de auto-orientación.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="3">
						<li>Evalúa las competencias adquiridas por el estudiante para la identificación y/o resolución de las necesidades de los usuarios.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Realiza ronda de enfermería conjuntamente con el estudiante.</li>
						<li>Revisa y evalúa proceso de atención de enfermería realizados por el/la estudiante.</li>
						<li>Brinda la asesoría directa y/o indirectamente para el logro de estos objetivos.</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="2">
						<li>Identifica y resuelve las necesidades de los usuarios. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Aplica el proceso de enfermería dejando constancia de todas las fases del mismo.</li>
						<li>Participa activamente en las visitas médicas.</li>
						<li>Asegura la actualización del kardex, registro clínico.</li>
						<li>Elabora y lee: reporte diario, censo, requisiciones y otros documentos legales diarios, semanales y/o mensuales.</li>
						<li>Asegura la calidad del recibo y entrega de turno y participa activamente en ellos.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">

				</td>
				<td class="tablaobjetivos">
				</td>
				<td class="tablaobjetivos">
					<ol start="3">
						<li>Organiza y dirige la atención de enfermería de acuerdo a los criterios de administración del elemento humano y las necesidades de los usuarios. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Revisa las funciones del personal de enfermería.</li>
						<li>Revisa y/o elabora las asignaciones del personal de enfermería.</li>
						<li>Aplica las normas de atención y administración y asegura el cumplimiento de las mismas.</li>
						<li>participa y/o elabora los procedimientos necesarios para garantizar cuidados de enfermería de calidad.</li>
						<li>Coordina con otras disciplinas y/o departamentos internos u otras dependencias los aspectos requeridos para la atención del los usuarios.</li>
						<li>Supervisa el cuidado de enfermería, elaborando instrumentos específicos.</li>
						<li>Elabora y ejecuta plan de intervención a corto plazo resultante de la supervisión.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">

				</td>
				<td class="tablaobjetivos">
				</td>
				<td class="tablaobjetivos">
					<ol start="4">
						<li>Brinda atención de calidad a los usuarios del servicio. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Realiza todas las acciones de cuidado a pacientes que requieren asistencia especial.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">

				</td>
				<td class="tablaobjetivos">
				</td>
				<td class="tablaobjetivos">
					<ol start="5">
						<li>Elabora y ejecuta plan de intervención para mejorar la salud mental de los usuarios. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>En base a la identificación de necesidades elabora plan de intervención para mejorar la salud mental de los usuarios.</li>
						<li>Ejecuta el plan de intervención con las respectivas evidencias por escrito o físicas de las acciones realizadas. </li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="4">
						<li>Evalúa la aplicación del proceso administrativo para asegurar la eficiencia y la calidad requerida</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Brinda la asesoría necesaria para la aplicación el proceso administrativo a través del Dx. De situación del servicio asignado</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="6">
						<li>Aplica el proceso administrativo para asegurar la eficiencia requerida incorporando las cuatro áreas del ejercicio profesional. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Elabora Dx. De situación.</li>
						<li>Elabora planeamiento incorporando las áreas del ejercicio profesional. </li>
						<li>Ejecuta y evalúa las acciones.</li>
						<li>Elabora informe general de las acciones. </li>
						<li>Elabora, utiliza y evalúa los instrumentos: grafica de gantt/cronograma de actividades, horarios semanales de actividades, instrumentos de recolección de información, otros.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="5">
						<li>Evalúa el planeamiento y la ejecución de acciones de educación permanente</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asesora para el cumplimiento de este componente</li>
						<li>Revisa los instrumentos y resultados obtenidos</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="7">
						<li>Desarrollar acciones de educación permanente. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Planifica al menos una acción de educación permanente.</li>
						<li>Desarrolla acciones presentando los respectivos instrumentos de organización, desarrollo y participación. </li>
						<li>Evalúa los resultados obtenidos.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="6">
						<li>Evalúa el planeamiento y la ejecución de acciones de educación para la salud</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asesora para el cumplimiento de este componente</li>
						<li>Revisa los instrumentos y resultados obtenidos</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="8">
						<li>Desarrollar acciones de educación para la salud. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Planifica al menos una sesión formal de educación para la salud a usuarios y/o familiares.</li>
						<li>Desarrolla acciones presentando los respectivos instrumentos de organización, desarrollo y participación. </li>
						<li>Evalúa los resultados obtenidos.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="7">
						<li>Evalúa las actividades realizadas relacionadas con investigación</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asesora sobre las intervenciones a realizar</li>
						<li>Asesora sobre la pertinencia de las acciones a realizar</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="9">
						<li>Utiliza el método científico para la explicación de fenómenos observados en el área asignada. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Identifica problemas en el servicio.</li>
						<li>Aplica el método científico para la explicación de fenómenos observados en el área asignada. </li>
						<li>Presenta informe escrito y organiza presentación formal de resultados.</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td class="tablaobjetivos">
					<ol start="8">
						<li>Evalúa la aplicación de la vigilancia epidemiológica en el área asignada</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Asesora sobre la elaboración de sala situacional del área asignada</li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol start="10">
						<li>Aplica la vigilancia epidemiológica en el área asignada. </li>
					</ol>
				</td>
				<td class="tablaobjetivos">
					<ol>
						<li>Elabora sala situacional del área asignada.</li>
						<li>Realiza vigilancia epidemiológica en base a protocolos autorizados en el área asignada. </li>
						<li>Presenta informe escrito de los eventos de notificación en el área asignada.</li>
					</ol>
				</td>
			</tr>
		</table>

		<center><h4><strong>GENERALIDADES</strong></h4></center>
		<h5>DEBE ASEGURARSE QUE:</h5>
		<ul>
			<li><h6 style="text-align: justify;">La experiencia de aprendizaje se realice bajo la supervisión de la/el enfermera/o jefe de servicio asignado y que todas las acciones realizadas por el estudiante lleven su visto bueno.</h6></li>
			<li><h6 style="text-align: justify;">Que la supervisora de práctica visite al estudiante al menos 3 veces durante la experiencia de aprendizaje (al inicio, a la mitad y al final de la práctica).</h6></li>
			<li><h6 style="text-align: justify;">Que sea en horario de 7:00 a 15:30 horas/ de 8:00 a 16:30 Horas, de Lunes a Viernes (estricto).</h6></li>
		</ul>
		<h5>LUGARES DE PRÁCTICA</h5>
		<ul>
			<li><h6 style="text-align: justify;">Centros de salud/ CAP.</h6></li>
			<li><h6 style="text-align: justify;">Servicios hospitalarios.</h6></li>
		</ul>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>
</html>