{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/i">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/auxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/optica">
							<span>Óptica</span>
						</a>
					</li>
					<li>
						<a href="/laboratorio">
							<span>Laboratorio</span>
						</a>
					</li>
					<li>
						<a href="/academia">
							<span>Academia</span>
						</a>
					</li>
					<li>
						<a href="/p">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/m">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/pag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/ingles">
							<span>Ingles</span>
						</a>
					</li>
					<li>
						<a href="/extra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/parqueo">
							<span>Parqueo</span>
						</a>
					</li>
					<li>
						<a href="/u">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/grad">
							<span>Graduacion</span>
						</a>
					</li>
					<!-- sidebar-menu  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content" id="main">
		<div class="container">
			<center>
				<h1>Manuales</h1>
			</center>
			<hr>
			<form action="" method="POST">
				<div class="form-row">
					<div class="col-md-12">
						<label for="carrera">Carrera</label>
						<select class="form-control" id="carrera" name="carrera" required>
							<option value="">Seleccione carrera</option>
							{% for i in carreras %}
							<option value="{{i[0]}},{{i[2]}}">{{i[2]}}</option>
							{% endfor %}
						</select>
						<input type="hidden" id="cant" name="cant" value="1" readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="carnet">Carnet</label>
						<input type="text" class="form-control" name="carnet" id="carnet" placeholder="Carnet" required>
					</div>
					<div class="col-md-6">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre"
							onblur="mayusculas()" required>
					</div>
				</div>
				<br>
				<div id="myDiv">
					<div class="form-row" id="divcurso1">
						<div class="col-md-12">
							<input type="text" id="curso1" name="curso1" class="form-control" required
								placeholder="Curso">
						</div>
					</div>
				</div>
				<br>
				<center>
					<input class="btn btn-primary" type="submit" value="Aceptar">
					<button type="button" class="btn btn-success" onclick="agregar()">Agregar Campo</button> 
					<button type="button" class="btn btn-danger" onclick="eliminar()">Eliminar Campo</button>
				</center>
				<br>
				<hr>
			</form>
		</div>
	</main>
	<!-- page-content" -->
</div>
<script type="text/javascript">
	function mayusculas() {
		var nombre = document.getElementById('nombre').value
		nombre = nombre.toUpperCase()
		document.getElementById('nombre').value = nombre
	}
</script>
<script type="text/javascript">
	function eliminar() {
		var num = parseInt(document.getElementById('cant').value)
		if (num > 1) {
			var div = document.getElementById('divcurso' + String(num))
			div.remove()
			document.getElementById('cant').value = num - 1
		}
	}
	function agregar() {
		var num = parseInt(document.getElementById('cant').value) + 1
		var div = document.getElementById('myDiv')
		var div1 = document.createElement('div')
		div1.className = "form-row"
		div1.id = "divcurso" + String(num)
		var div2 = document.createElement('div')
		div2.className = "col-md-12"
		document.getElementById('cant').value = num
		var input = document.createElement('input')
		input.type = 'text'
		input.id = 'curso' + String(num)
		input.name = 'curso' + String(num)
		input.className = 'form-control'
		input.placeholder = 'Curso'
		div2.appendChild(input)
		div1.appendChild(div2)
		div.append(div1)
	}
</script>
<!-- page-wrapper -->
{% endblock %}