{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->

			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/i">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/auxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/optica">
							<span>Óptica</span>
						</a>
					</li>
					<li>
						<a href="/laboratorio">
							<span>Laboratorio</span>
						</a>
					</li>
					<li>
						<a href="/academia">
							<span>Academia</span>
						</a>
					</li>
					<li>
						<a href="/p">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/m">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/pag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/ingles">
							<span>Ingles</span>
						</a>
					</li>

					<li>
						<a href="/extra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/parqueo">
							<span>Parqueo</span>
						</a>
					</li>
					<li>
						<a href="/u">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/grad">
							<span>Graduacion</span>
						</a>
					</li>
					<!-- sidebar-menu  -->

					<!-- sidebar-content  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content" id="main">
		<div class="container">
			<center>
				<h1>Manuales</h1>
			</center>
			<hr>
			<form action="" method="POST">
				<center> <label for="carrera" style="color: black;"> <strong>
							<h4>Seleccione la carrera:</h4>
						</strong></label>
					<select name="carrera" id="carrera" class="inputtext" required>
						<option value="">Seleccione carrera</option>
						{% for i in carreras %}
						<option value="{{i[0]}},{{i[2]}}">{{i[2]}}</option>
						{% endfor %}
					</select><input type="hidden" class="inputtext5" id="cant" name="cant" value="1" readonly><br>
				</center>
				<center>
					<input type="text" id="carnet" name="carnet" class="inputtext" required
						placeholder="  Carné">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="text" id="nombre" name="nombre" class="inputtext1" required placeholder="  Nombre"
						onblur="mayusculas()"><br>
					<br>
					<div id="myDiv">
						<input type="text" id="curso1" name="curso1" class="inputtext1" required placeholder="  Curso">
						<input type="radio" id="1kit0" name="kit1" value="0">
						<label for="1kit0" id="1kit0l">Sin Kit</label>
						<input type="radio" id="1kit50" name="kit1" value="50">
						<label for="1kit50" id="1kit50l">Kit Q 50.00</label>
						<input type="radio" id="1kit100" name="kit1" value="100">
						<label for="1kit100" id="1kit100l">Kit Q 100.00</label>
						<input type="radio" id="1kit200" name="kit1" value="200">
						<label for="1kit200" id="1kit200l">Kit Q 200.00</label>
					</div>
				</center>
				<br>
				<center><button onclick="submit" class="button">Aceptar</button> <button type="button" class="button"
						onclick="agregar('')">Agregar Campo</button> <button type="button" class="button"
						onclick="eliminar('')">Eliminar Campo</button></center>
				<br>
				<hr>
			</form>
		</div>
	</main>
	<!-- page-content" -->
</div>
<script type="text/javascript">
	function mayusculas() {
		var nombre = document.getElementById('nombre').value
		nombre = nombre.toUpperCase()
		document.getElementById('nombre').value = nombre
	}
</script>
<script type="text/javascript">
	function eliminar() {
		var num = parseInt(document.getElementById('cant').value)
		if (num > 1) {
			var input = document.getElementById('curso' + String(num))
			var radio1 = document.getElementById(String(num)+'kit0')
			var radio2 = document.getElementById(String(num)+'kit50')
			var radio3 = document.getElementById(String(num)+'kit100')
			var radio4 = document.getElementById(String(num)+'kit200')
			var label1 = document.getElementById(String(num)+'kit0l')
			var label2 = document.getElementById(String(num)+'kit50l')
			var label3 = document.getElementById(String(num)+'kit100l')
			var label4 = document.getElementById(String(num)+'kit200l')
			var div = document.getElementById('myDiv')
			var brs = div.getElementsByTagName('br')
			var largo = brs.length
			input.remove()
			radio4.remove()
			radio1.remove()
			radio2.remove()
			radio3.remove()
			label1.remove()
			label2.remove()
			label3.remove()
			label4.remove()
			brs[largo - 1].remove()
			document.getElementById('cant').value = num - 1
		}
	}
	function agregar() {
		var div = document.getElementById('myDiv')
		var input = document.createElement('input')
		var num = parseInt(document.getElementById('cant').value) + 1
		document.getElementById('cant').value = num
		input.type = 'text'
		input.id = 'curso' + String(num)
		input.name = 'curso' + String(num)
		input.className = 'inputtext1'
		input.placeholder = '  Curso'
		var radio1 = document.createElement('input')
		radio1.type = 'radio'
		radio1.id = String(num) + 'kit0'
		radio1.name = 'kit' + String(num)
		radio1.value = 0
		var label1 = document.createElement('label');
		label1.innerHTML = 'Sin Kit'
		label1.htmlFor = String(num) + 'kit0'
		label1.id = String(num) + 'kit0l'
		var radio2 = document.createElement('input')
		radio2.type = 'radio'
		radio2.id = String(num) + 'kit50'
		radio2.name = 'kit' + String(num)
		radio2.value = 50
		var label2 = document.createElement('label');
		label2.innerHTML = 'Kit Q 50.00'
		label2.htmlFor = String(num) + 'kit50'
		label2.id = String(num) + 'kit50l'
		var radio3 = document.createElement('input')
		radio3.type = 'radio'
		radio3.id = String(num) + 'kit100'
		radio3.name = 'kit' + String(num)
		radio3.value = 100
		var label3 = document.createElement('label');
		label3.innerHTML = 'Kit Q 100.00'
		label3.htmlFor = String(num) + 'kit100'
		label3.id = String(num) + 'kit100l'
		var radio4 = document.createElement('input')
		radio4.type = 'radio'
		radio4.id = String(num) + 'kit200'
		radio4.name = 'kit' + String(num)
		radio4.value = 200
		var label4 = document.createElement('label');
		label4.innerHTML = 'Kit Q 200.00'
		label4.htmlFor = String(num) + 'kit200'
		label4.id = String(num) + 'kit200l'
		var br = document.createElement('br')
		div.appendChild(br)
		div.appendChild(input)
		div.appendChild(radio1)
		div.appendChild(label1)
		div.appendChild(radio2)
		div.appendChild(label2)
		div.appendChild(radio3)
		div.appendChild(label3)
		div.appendChild(radio4)
		div.appendChild(label4)
	}
</script>
<!-- page-wrapper -->
{% endblock %}