{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/repdiario">
							<span>Corte Diario</span>
						</a>
					</li>
					<li>
						<a href="/repgen">
							<span>Listado General</span>
						</a>
					</li>
					<li>
						<a href="/repi">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repauxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/repini">
							<span>Internet Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repir">
							<span>Internet Reinscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repu">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/repp">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/replenq">
							<span>Practica Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/replbcq">
							<span>Practica Química Biológica</span>
						</a>
					</li>
					<li>
						<a href="/repm">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/repingles">
							<span>Ingles</span>
						</a>
					</li>
					<li>
						<a href="/reppag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/repgrad">
							<span>Graduacion</span>
						</a>
					</li>
					<li>
						<a href="/repextra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/repparq">
							<span>Parqueo</span>
						</a>
					</li>
					<!-- sidebar-menu  -->
			</div>
			<!-- sidebar-content  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container">
			<center>
				<h1>Matriz de Práctica de Enfermería</h1>
			</center>
			<hr>
			<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
			<br>
			<h2>Práctica Primer Semestre</h2>
			<table class="table table-striped sorttable" id="semestre1">
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Pago 1</th>
					<th>Pago 2</th>
					<th>Pago 3</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Lugar</th>
				</tr>
				{% for i in practicas[0] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>{{i[6]}}</td>
					<td>{{i[7]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br><br>
			<h2>Práctica Segundo Semestre</h2>
			<table class="table table-striped sorttable" id="semestre2">
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Pago 1</th>
					<th>Pago 2</th>
					<th>Pago 3</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Lugar 1</th>
					<th>Lugar 2</th>
				</tr>
				{% for i in practicas[1] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>{{i[6]}}</td>
					<td>{{i[7]}}</td>
					<td>{{i[8]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br><br>
			<h2>Práctica Tercer Semestre</h2>
			<table class="table table-striped sorttable" id="semestre3">
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Pago 1</th>
					<th>Pago 2</th>
					<th>Pago 3</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Lugar 1</th>
					<th>Lugar 2</th>
				</tr>
				{% for i in practicas[2] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>{{i[6]}}</td>
					<td>{{i[7]}}</td>
					<td>{{i[8]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br><br>
			<h2>Práctica Cuarto Semestre</h2>
			<table class="table table-striped sorttable" id="semestre4">
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Pago 1</th>
					<th>Pago 2</th>
					<th>Pago 3</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Lugar 1</th>
					<th>Lugar 2</th>
					<th>Lugar 3</th>
				</tr>
				{% for i in practicas[3] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>{{i[6]}}</td>
					<td>{{i[7]}}</td>
					<td>{{i[8]}}</td>
					<td>{{i[9]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br><br>
			<h2>Práctica Quinto Semestre</h2>
			<table class="table table-striped sorttable" id="semestre5">
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Pago 1</th>
					<th>Pago 2</th>
					<th>Pago 3</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Lugar 1</th>
					<th>Lugar 2</th>
					<th>Lugar 3</th>
				</tr>
				{% for i in practicas[4] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>{{i[6]}}</td>
					<td>{{i[7]}}</td>
					<td>{{i[8]}}</td>
					<td>{{i[9]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br><br>
			<h2>Práctica Sexto Semestre</h2>
			<table class="table table-striped sorttable" id="semestre6">
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Pago 1</th>
					<th>Pago 2</th>
					<th>Pago 3</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Lugar 1</th>
					<th>Lugar 2</th>
				</tr>
				{% for i in practicas[5] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>{{i[6]}}</td>
					<td>{{i[7]}}</td>
					<td>{{i[8]}}</td>
				</tr>
				{% endfor %}
			</table>
	</main>
	<!-- page-content" -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        marcarPendientes();
    });

    function marcarPendientes() {
        var tablas = document.querySelectorAll("table");
        tablas.forEach(function(tabla) {
            var celdas = tabla.querySelectorAll("td");
            celdas.forEach(function(celda) {
                if (celda.textContent.trim() === "Pend") {
                    celda.style.backgroundColor = "orange";
                }
            });
        });
    }
</script>
<!-- page-wrapper -->
{% endblock %}