{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>
<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/repdiario">
							<span>Corte Diario</span>
						</a>
					</li>
					<li>
						<a href="/repgen">
							<span>Listado General</span>
						</a>
					</li>
					<li>
						<a href="/repi">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repauxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/repini">
							<span>Internet Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repir">
							<span>Internet Reinscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repu">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/repp">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/replenq">
							<span>Practica Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/replbcq">
							<span>Practica Química Biológica</span>
						</a>
					</li>
					<li>
						<a href="/repm">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/repingles">
							<span>Ingles</span>
						</a>
					</li>
					<li>
						<a href="/reppag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/repgrad">
							<span>Graduacion</span>
						</a>
					</li>
					<li>
						<a href="/repextra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/repparq">
							<span>Parqueo</span>
						</a>
					</li>
					<!-- sidebar-menu  -->
			</div>
			<!-- sidebar-content  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container">
			<center>
				<h1>Matriz de Práctica de Laboratorio Clínico</h1>
			</center>
			<hr>
			<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
			<br>
			<table class="table table-striped sorttable table-responsive" id="semestre1">
				<thead>
					<tr>
						<th style="font-size: x-small;">No.</th>
						<th style="font-size: x-small;">Nombre</th>
						<th style="font-size: x-small;">Carnet</th>
						{% for i in meses %}
						<th style="font-size: x-small;">{{i}}</th>
						{% endfor %}
					</tr>
				</thead>
				{% for i in estudiantes %}
				<tr>
					<td style="font-size: x-small;">{{loop.index}}</td>
					<td style="font-size: x-small;">{{i[0]}}</td>
					<td style="font-size: x-small;">{{i[1]}}</td>
					<td style="font-size: x-small;">{{i[2]}}</td>
					<td style="font-size: x-small;">{{i[3]}}</td>
					<td style="font-size: x-small;">{{i[4]}}</td>
					<td style="font-size: x-small;">{{i[5]}}</td>
					<td style="font-size: x-small;">{{i[6]}}</td>
					<td style="font-size: x-small;">{{i[7]}}</td>
					<td style="font-size: x-small;">{{i[8]}}</td>
					<td style="font-size: x-small;">{{i[9]}}</td>
					<td style="font-size: x-small;">{{i[10]}}</td>
					<td style="font-size: x-small;">{{i[11]}}</td>
					<td style="font-size: x-small;">{{i[12]}}</td>
					<td style="font-size: x-small;">{{i[13]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br>
	</main>
	<!-- page-content" -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        marcarPendientes();
    });

    function marcarPendientes() {
        var tablas = document.querySelectorAll("table");
        tablas.forEach(function(tabla) {
            var celdas = tabla.querySelectorAll("td");
            celdas.forEach(function(celda) {
                if (celda.textContent.trim() === "Pend") {
                    celda.style.backgroundColor = "orange";
                }
            });
        });
    }
	$(document).ready(function () {
		$("#semestre1").fancyTable({
			inputPlaceholder: 'Buscar',
			pagination: true,
			perPage:20
		});
	});
</script>
<!-- page-wrapper -->
{% endblock %}