{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/i">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/auxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/optica">
							<span>Óptica</span>
						</a>
					</li>
					<li>
						<a href="/laboratorio">
							<span>Laboratorio</span>
						</a>
					</li>
					<li>
						<a href="/academia">
							<span>Academia</span>
						</a>
					</li>
					<li>
						<a href="/p">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/m">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/pag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/ingles">
							<span>Ingles</span>
						</a>
					</li>
					<li>
						<a href="/extra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/parqueo">
							<span>Parqueo</span>
						</a>
					</li>
					<li>
						<a href="/u">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/grad">
							<span>Graduacion</span>
						</a>
					</li>
					<!-- sidebar-menu  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content" id="main">
		<div class="container">
			<center>
				{% if nuevo == 1 %}
				<h1>Nueva Factura</h1>
				{% else %}
				<h1>Editar Factura</h1>
				{% endif %}
			</center>
			<hr>
			<form action="" method="POST">
				<div class="form-row">
					<div class="col-md-6">
						<label for="documento">No. Documento</label>
						<input type="text" class="form-control" name="documento" id="documento" placeholder="Documento" value="{{factura[0]}}" required>
					</div>
					<div class="col-md-6">
						<label for="proveedor">Proveedor</label>
						<input type="text" class="form-control" name="proveedor" id="proveedor" placeholder="Proveedor" onblur="mayusculas()" value="{{factura[1]}}" required>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="documento">Descripción</label>
						<input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" value="{{factura[2]}}" required>
					</div>
					<div class="col-md-6">
						<label for="monto">Monto</label>
						<input type="number" step="0.01" class="form-control" name="monto" id="monto" placeholder="Monto" value="{{factura[3]}}" required>
					</div>
				</div><br>
				<center><input class="btn btn-primary" type="submit" value="Aceptar"></center>
			</form>
		</div>
	</main>
	<!-- page-content" -->
</div>
<script type="text/javascript">
	function mayusculas() {
		var proveedor = document.getElementById('proveedor')
		var data = proveedor.value
		data = data.toUpperCase()
		proveedor.value = data
	}
</script>
<!-- page-wrapper -->
{% endblock %}