<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% if title %}
	<title>Sistema de caja - {{ title }}</title>
	{% else %}
	<title>Sistema de caja</title>
	{% endif %}
	<link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
	<style type="text/css">
		body {
			background: #ffffff;
			margin-top: 5rem;
		}

		table {
			border: 0px;
			width: 100%;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000000;
		}

		.tabla {
			font-size: 20px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: #000000 1px solid;

		}

		.tabla1 {
			font-size: 18px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: #000000 1px solid;
		}

		.tabla2 {
			font-size: 20px;
			border: #000000 1px solid;
			height: 110px;
			text-align: center;
			vertical-align: bottom;
			color: gray;
		}

		.tabla3 {
			font-size: 13px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: #000000 1px solid;
		}
		.tabla4 {
			font-size: 16px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: #000000 1px solid;
		}

		.tabla5 {
			font-size: 20px;
			border: #000000 1px solid;
			height: 55px;
			text-align: center;
			vertical-align: bottom;
			color: gray;
		}

		.tabla6 {
			font-size: 15px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: #000000 1px solid;
		}
		.tabla7 {
			font-size: 12px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: #000000 1px solid;
		}
	</style>
</head>

<body>
	<main role="main" class="container">
		{% if 2 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Técnico en Optometria</h5>
			<h5>Segundo Semestre</h5>
			<h5>Curso Propedéutico de Práctica Supervisada</h5>
			<h5>Nivel de Aprendizaje 1 al 4</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>

		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla1" style="width: 94%;">
				<tr>
					<th class="tabla1" style="width: 37.5%;">Nivel 1. Identidad Optométrica</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
					<th class="tabla1" style="width: 37.5%;">Nivel 2. Problemas que Afectan al Sistema Visual y
						Tratamiento</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
				</tr>
			</table>
			<table style="width: 94%;">
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
			</table>
			<table class="tabla1" style="width: 94%;">
				<tr>
					<th class="tabla1" style="width: 37.5%;">Nivel 3. Anatomía Ocular y sus Anexos</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
					<th class="tabla1" style="width: 37.5%;">Nivel 4. Protocolo de Evaluación y Reglamento Interno</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
				</tr>
			</table>
			<table style="width: 94%;">
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla" style="width: 25%;"> <strong>
							<center>Fecha de Adquisición:<br>{{fecha}}</center>
						</strong></td>
					<td class="tabla2" style="width: 25%;">Sello Universidad</td>
					<td class="tabla2" style="width: 25%;">Sello de Supervisor</td>
					<td class="tabla2" style="width: 25%;">Sello de Aprobación</td>
				</tr>
			</table>
		</center>
		{% endif %}
		{% if 3 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Técnico en Optometria</h5>
			<h5>Tercer Semestre</h5>
			<h5>Práctica Supervisada 1</h5>
			<h5>Nivel de Aprendizaje 5 al 8</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>

		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla1" style="width: 94%;">
				<tr>
					<th class="tabla1" style="width: 37.5%;">Nivel 5. Anamnesis</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
					<th class="tabla1" style="width: 37.5%;">Nivel 6. Agudeza Visual</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
				</tr>
			</table>
			<table style="width: 94%;">
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
			</table>
			<table class="tabla1" style="width: 94%;">
				<tr>
					<th class="tabla1" style="width: 37.5%;">Nivel 7. E.P.R.O.</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
					<th class="tabla1" style="width: 37.5%;">Nivel 8. Refracción Objetiva</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
				</tr>
			</table>
			<table style="width: 94%;">
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla" style="width: 25%;"> <strong>
							<center>Fecha de Adquisición:<br>{{fecha}}</center>
						</strong></td>
					<td class="tabla2" style="width: 25%;">Sello Universidad</td>
					<td class="tabla2" style="width: 25%;">Sello de Supervisor</td>
					<td class="tabla2" style="width: 25%;">Sello de Aprobación</td>
				</tr>
			</table>
		</center>
		<br>
		{% endif %}
		{% if 4 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Técnico en Optometria</h5>
			<h5>Cuarto Semestre</h5>
			<h5>Práctica Supervisada 2</h5>
			<h5>Nivel de Aprendizaje 9 al 12</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>

		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla1" style="width: 94%;">
				<tr>
					<th class="tabla1" style="width: 37.5%;">Nivel 9. Refracción Objetiva 2</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
					<th class="tabla1" style="width: 37.5%;">Nivel 10. Refracción Subjetiva</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
				</tr>
			</table>
			<table style="width: 94%;">
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
			</table>
			<table class="tabla1" style="width: 94%;">
				<tr>
					<th class="tabla1" style="width: 37.5%;">Nivel 11. Exploración Segmento Anterior</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
					<th class="tabla1" style="width: 37.5%;">Nivel 12. Exploración Segmento Posterior</th>
					<th style="color: gray;" class="tabla1" style="width: 12.5%;">Punteo</th>
				</tr>
			</table>
			<table style="width: 94%;">
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
				<tr>
					<td style="height: 120px;" class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
					<td class="tabla1" style="width: 25%;"></td>
				</tr>
				<tr>
					<td style="height: 30px;" class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
					<td class="tabla1"></td>
				</tr>
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla" style="width: 25%;"> <strong>
							<center>Fecha de Adquisición:<br>{{fecha}}</center>
						</strong></td>
					<td class="tabla2" style="width: 25%;">Sello Universidad</td>
					<td class="tabla2" style="width: 25%;">Sello de Supervisor</td>
					<td class="tabla2" style="width: 25%;">Sello de Aprobación</td>
				</tr>
			</table>
		</center>
		<br>
		{% endif %}
		{% if 5 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Técnico en Optometria</h5>
			<h5>Quinto Semestre</h5>
			<h5>Ejercicio Profesional Supervisado 1</h5>
			<h5>Nivel de Aprendizaje 13 al 16</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>
		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla3">
				<tr>
					<th class="tabla4" style="background-color: #c00001; width: 5%;">No.</th>
					<th class="tabla4" style="background-color: #c00001; width: 20%;">Fecha</th>
					<th class="tabla4" style="background-color: #c00001; width: 30%;">CUI</th>
					<th class="tabla4" style="background-color: #c00001; width: 45%;">Nombre</th>
				</tr>
				<tr>
					<th class="tabla1" colspan="4">Nivel 13: Evaluación y tratamiento optométrico a pacientes adolescentes con diferentes ametropías</th>
				</tr>
				{% for i in range(5) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla1" colspan="4">Nivel 14: Evaluación y tratamiento optométrico a pacientes adultos con diferentes ametropías.</th>
				</tr>
				{% for i in range(5,20) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla1" colspan="4">Nivel 15: Evaluación y tratamiento optométrico a pacientes présbitas
						con diferentes ametropías</th>
				</tr>
				{% for i in range(20,25) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla1" colspan="4">Nivel 16: Coordinación de actividades para prevención de problemas
						que afectan al sistema Visual</th>
				</tr>
				<tr>
					<td style="border: #000000 1px solid;" rowspan="2"><strong>26</strong></td>
					<td style="border: #000000 1px solid;" rowspan="2"></td>
					<td style="border: #000000 1px solid;" colspan="2"><strong>Actividad:</strong></td>
				</tr>
				<tr>
					<td style="border: #000000 1px solid;" colspan="2"><strong>Lugar:</strong></td>
				</tr>
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla1" style="width: 25%;"> <center>Fecha de Adquisición: {{fecha}}</center></td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello Universidad</td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello de Supervisor</td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello de Aprobación</td>
				</tr>
				<tr>
					<td class="tabla1" style="width: 25%;"><center>Fecha de Expiración: 25/07/2025</center></td>
				</tr>
			</table>
		</center>
		{% endif %}
		{% if '5Especial' in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Técnico en Optometria</h5>
			<h5>Quinto Semestre</h5>
			<h5>Ejercicio Profesional Supervisado 1</h5>
			<h5>Nivel de Aprendizaje 13 al 16</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>
		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla6">
				<tr>
					<th class="tabla4" style="background-color: #c00001; width: 5%;">No.</th>
					<th class="tabla4" style="background-color: #c00001; width: 20%;">Fecha</th>
					<th class="tabla4" style="background-color: #c00001; width: 30%;">CUI</th>
					<th class="tabla4" style="background-color: #c00001; width: 45%;">Nombre</th>
				</tr>
				<tr>
					<th class="tabla1" colspan="4">Nivel 13: Evaluación y tratamiento optométrico a pacientes adolescentes con diferentes ametropías</th>
				</tr>
				{% for i in range(10) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla1" colspan="4">Nivel 14: Evaluación y tratamiento optométrico a pacientes adultos con diferentes ametropías.</th>
				</tr>
				{% for i in range(10,40) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla1" colspan="4">Nivel 15: Evaluación y tratamiento optométrico a pacientes présbitas
						con diferentes ametropías</th>
				</tr>
				{% for i in range(40,50) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla1" colspan="4">Nivel 16: Coordinación de actividades para prevención de problemas
						que afectan al sistema Visual</th>
				</tr>
				<tr>
					<td style="border: #000000 1px solid;" rowspan="2"><strong>51</strong></td>
					<td style="border: #000000 1px solid;" rowspan="2"></td>
					<td style="border: #000000 1px solid;" colspan="2"><strong>Actividad:</strong></td>
				</tr>
				<tr>
					<td style="border: #000000 1px solid;" colspan="2"><strong>Lugar:</strong></td>
				</tr>
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla1" style="width: 25%;"> <center>Fecha de Adquisición: {{fecha}}</center></td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello Universidad</td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello de Supervisor</td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello de Aprobación</td>
				</tr>
				<tr>
					<td class="tabla1" style="width: 25%;"><center>Fecha de Expiración: 25/07/2025</center></td>
				</tr>
			</table>
		</center>
		{% endif %}
		{% if 6 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Licenciatura en Optometria</h5>
			<h5>Sexto Semestre</h5>
			<h5>Ejercicio Profesional Supervisado 2</h5>
			<h5>Nivel de Aprendizaje 17 al 21</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>
		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla7">
				<tr>
					<th class="tabla4" style="background-color: #1300c0; width: 5%; color: white">No.</th>
					<th class="tabla4" style="background-color: #1300c0; width: 20%; color: white">Fecha</th>
					<th class="tabla4" style="background-color: #1300c0; width: 30%; color: white">CUI</th>
					<th class="tabla4" style="background-color: #1300c0; width: 45%; color: white">Nombre</th>
				</tr>
				<tr>
					<th class="tabla4" colspan="4">Nivel 17: Evaluación y tratamiento optométrico a pacientes con diferentes ametropías. Reti. Tec. Esf.- Esf.</th>
				</tr>
				{% for i in range(5) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 18: Evaluación de la acomodación.</th>
				</tr>
				{% for i in range(5,10) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 19: Evaluación de la binocularidad.</th>
				</tr>
				{% for i in range(10,15) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 20: Vergencias Funcionales</th>
				</tr>
				{% for i in range(15,20) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 21: Evaluación de pacientes en Clínica Optométrica.</th>
				</tr>
				{% for i in range(0,4) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla" style="width: 25%;"> <strong>
							<center>Fecha de Adquisición:<br>{{fecha}}</center>
						</strong></td>
					<td class="tabla2" style="width: 25%;">Sello Universidad</td>
					<td class="tabla2" style="width: 25%;">Sello de Supervisor</td>
					<td class="tabla2" style="width: 25%;">Sello de Aprobación</td>
				</tr>
			</table>
		</center>
		{% endif %}
		{% if 8 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Licenciatura en Optometria</h5>
			<h5>Octavo Semestre</h5>
			<h5>Ejercicio Profesional Supervisado V</h5>
			<h5>Nivel de Aprendizaje 25 al 28</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>
		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla7">
				<tr>
					<th class="tabla4" style="background-color: green; width: 5%;">No.</th>
					<th class="tabla4" style="background-color: green; width: 20%;">Fecha</th>
					<th class="tabla4" style="background-color: green; width: 30%;">CUI</th>
					<th class="tabla4" style="background-color: green; width: 45%;">Nombre</th>
				</tr>
				<tr>
					<th class="tabla4" colspan="4">Nivel 25: Evaluación y tratamiento optométrico con Retinospia Tec. Esfera Esfera con diferentes ametropías.</th>
				</tr>
				{% for i in range(5) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 26: Evaluación y tratamiento optométrico a pacientes niños con diferentes ametropías</th>
				</tr>
				{% for i in range(5,10) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 27: Evaluación y manejo optométrico a pacientes y tonometría ocular.</th>
				</tr>
				{% for i in range(10,15) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 28: Rotación en centro de diagnóstico ocular</th>
				</tr>
				{% for i in range(15,17) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Voluntariado como jefe de Clínica en Clínica Optométrica.</th>
				</tr>
				{% for i in range(0,8) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla" style="width: 25%;"> <strong>
							<center>Fecha de Adquisición:<br>{{fecha}}</center>
						</strong></td>
					<td class="tabla2" style="width: 25%;">Sello Universidad</td>
					<td class="tabla2" style="width: 25%;">Sello de Supervisor</td>
					<td class="tabla2" style="width: 25%;">Sello de Aprobación</td>
				</tr>
			</table>
		</center>
		{% endif %}
		{% if 9 in numeros %}
		<div style="width: 35%; float: left;">
			<img src="{{path}}static\logofacisasalud.jpg" width="100%">
			<!--<img src="C:\Users\USUARIO\Documents\siscaja\flaskapp\static\logofacisasalud.jpg" width="100%">-->
		</div>
		<div style="text-align: right;width: 65%; float: left;">
			<h5>Licenciatura en Optometria</h5>
			<h5>Noveno Semestre</h5>
			<h5>Ejercicio Profesional Supervisado 3</h5>
			<h5>Nivel de Aprendizaje 17 al 20</h5>
			<h5>Control de Asistencia y Aprobación</h5>
		</div>
		<table class="tabla">
			<th class="tabla" style="width: 70%;">Alumno: {{nombre}}</th>
			<th class="tabla">No. Carnet: {{carnet}}</th>
		</table>
		<br>
		<center>
			<table class="tabla7">
				<tr>
					<th class="tabla4" style="background-color: #c00001; width: 5%;">No.</th>
					<th class="tabla4" style="background-color: #c00001; width: 20%;">Fecha</th>
					<th class="tabla4" style="background-color: #c00001; width: 30%;">CUI</th>
					<th class="tabla4" style="background-color: #c00001; width: 45%;">Nombre</th>
				</tr>
				<tr>
					<th class="tabla4" colspan="4">Nivel 17: Evaluación y tratamiento optométrico a pacientes niños con diferentes ametropías</th>
				</tr>
				{% for i in range(5) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 18: Evaluación y tratamiento optométrico a pacientes adolescentes con diferentes problemas binoculares</th>
				</tr>
				{% for i in range(5,10) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 19: Evaluación y manejo optométrico a pacientes con diferentes patologías oculares</th>
				</tr>
				{% for i in range(10,15) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 20: Adaptación a pacientes de lentes de contacto blandos y RGP.</th>
				</tr>
				{% for i in range(15,17) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 21: Voluntariado como Jefe de Clínica en Clínica Optométrica.</th>
				</tr>
				{% for i in range(0,8) %}
				<tr>
					<td style="border: #000000 1px solid;"><strong>{{i + 1}}</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
				{% endfor %}
				<tr>
					<th class="tabla4" colspan="4">Nivel 22: Rotación en Centro de diagnóstico ocular.</th>
				</tr>
				<tr>
					<td style="border: #000000 1px solid;"><strong>1</strong></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
					<td style="border: #000000 1px solid;"></td>
				</tr>
			</table>
			<br>
			<table>
				<tr>
					<td class="tabla1" style="width: 25%;"> <center>Fecha de Adquisición: {{fecha}}</center></td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello Universidad</td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello de Supervisor</td>
					<td class="tabla5" style="width: 25%;" rowspan="2">Sello de Aprobación</td>
				</tr>
				<tr>
					<td class="tabla1" style="width: 25%;"><center>Fecha de Expiración: 25/07/2025</center></td>
				</tr>
			</table>
		</center>
		{% endif %}
	</main>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>

</html>