{% extends "layout.html" %}
{% block content %}
<main class="page-content">
	<div class="container">
		<center>
			<h2>Auxiliares de Enfermeria</h2>
		</center>
		<hr>
		<a class="btn btn-info" href="{{ url_for('repauxenfexcel') }}" target="_blank" role="button">Exportar Excel</a>
		<hr>
		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
		<div class="table-responsive">
			<table class="sortable table table-bordered table-responsive">
				<tr>
					<th style="width:auto;">Nombre</th>
					<th style="width:auto;">Carnet</th>
					{% for i in meses %}
					<th style="width:auto;">{{i}}</th>
					{% endfor %}
				</tr>
				{% for i in datos %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					{% for j in i[2:] %}
					<td>{{j}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
</main>
<script>
	window.onload = function menos() {
		myBody = document.getElementsByTagName("td");
		cantidad = myBody.length;
		for (i = 0; i < cantidad; i++) {
			if (myBody[i].innerHTML == "Pend") {
				myBody[i].style.backgroundColor = "orange";
			} else {
				myBody[i].style.backgroundColor = "lightgreen";
			}
		}
	}
</script>
{% endblock %}