{% extends "layout.html" %}
{% block content %}
<style>
	td {
		font-size: small;
	}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<!-- fancyTable Js -->
<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>
<div class="page-wrapper chiller-theme toggled">
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container">
			<br><br>
			<h2>Reporte diario</h2>
			<hr>
			<form action="" method="POST">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" name="regen" placeholder="Boleta General">
					</div>
					<div class="col-md-6">
						<select class="form-control" id="empresagen" name="empresagen">
							<option value="">Seleccione empresa</option>
							<option value="Óptica">Óptica</option>
							<option value="Óptica Tarjeta">Óptica Tarjeta</option>
							<option value="Laboratorio">Laboratorio</option>
							<option value="Laboratorio Tarjeta">Laboratorio Tarjeta</option>
							<option value="Academia">Academia</option>
							<option value="Auxiliares de Enfermeria">Auxiliares de Enfermeria</option>
							<option value="Dr. Rodolfo Juarez">Dr. Rodolfo Juarez</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<h4>Resumen</h4>
						<table class="table table-bordered table-responsive">
							<tr>
								<th>Código</th>
								<th>Concepto</th>
								<th>Cantidad</th>
								<th>Total</th>
								<th>Boleta</th>
								<th>Empresa</th>
							</tr>
							{% for i in resumen %}
							<tr>
								<td>{{i[0]}}</td>
								<td>{{i[1]}}</td>
								<td>{{i[2]}}</td>
								<td>Q.{{i[3]}}</td>
								<td><input type="text" class="form-control" name="resumen{{i[4]}}" style="font-size: small;"
										title="Recibo {{i[1]}}" placeholder="Recibo {{i[1]}}">
								</td>
								<td>
									<select class="form-control" id="empresa{{i[4]}}" name="empresa{{i[4]}}" style="font-size: small;">
										<option value="">Seleccione empresa</option>
										<option value="Óptica">Óptica</option>
										<option value="Óptica Tarjeta">Óptica Tarjeta</option>
										<option value="Laboratorio">Laboratorio</option>
										<option value="Laboratorio Tarjeta">Laboratorio Tarjeta</option>
										<option value="Academia">Academia</option>
										<option value="Auxiliares de Enfermeria">Auxiliares de Enfermeria</option>
										<option value="Dr. Rodolfo Juarez">Dr. Rodolfo Juarez</option>
									</select>
								</td>
							</tr>
							{% endfor %}
							<tr>
								<th colspan="3">
									<center>Total</center>
								</th>
								<th colspan="2">
									<center>{{suma}}</center>
								</th>
							</tr>
						</table>
					</div>
					<div class="col-md-4">
						<table class="table table-bordered table-responsive">
							<tr>
								<th>Cuenta</th>
								<th>Número</th>
							</tr>
							<tr>
								<td>Clínica Optométrica</td>
								<td>399-007141-1</td>
							</tr>
							<tr>
								<td>Lab. de Diagnóstico Galileo</td>
								<td>399-007142-9</td>
							</tr>
							<tr>
								<td>Technical Training Academy</td>
								<td>399-007457-1</td>
							</tr>
							<tr>
								<td>Escuela Privada "Los Altos"</td>
								<td>399-009065-0</td>
							</tr>
							<tr>
								<td>Rodolfo Juarez</td>
								<td>233-500181-1</td>
							</tr>
							<tr>
								<th>Boleta Anterior</th>
								<th>{{boletasig}}</th>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<br><br>
					<h4>Desplegado</h4>
					<table class="table table-bordered table-responsive" style="width: fit-content;" id="sampleTable">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Carnet</th>
								<th>Fecha</th>
								<th>Concepto</th>
								<th>Descripción</th>
								<th>Total</th>
								<th>User</th>
								<th style="width: 15%;">Recibo</th>
								<th style="width: 15%;">Empresa</th>
								<th colspan="3">Opciones</th>
							</tr>
						</thead>
						{% for i in data %}
						<tr>
							<td>{{i[0]}}</td>
							<td>{{i[1]}}</td>
							<td>{{i[2]}}</td>
							<td>{{i[3]}}</td>
							<td>{{i[4]}}</td>
							<td>Q{{i[5]}}</td>
							<td>{{i[7]}}</td>
							<td><input type="text" class="form-control" name="re{{i[6]}}" title="Recibo {{i[6]}}" placeholder="Recibo {{i[6]}}" style="font-size: small;"></td>
							<td>
								<select class="form-control" id="empr{{i[6]}}" name="empr{{i[6]}}" style="font-size: small;">
									<option value="">Seleccione empresa</option>
									<option value="Óptica">Óptica</option>
									<option value="Óptica Tarjeta">Óptica Tarjeta</option>
									<option value="Laboratorio">Laboratorio</option>
									<option value="Laboratorio Tarjeta">Laboratorio Tarjeta</option>
									<option value="Academia">Academia</option>
									<option value="Auxiliares de Enfermeria">Auxiliares de Enfermeria</option>
									<option value="Dr. Rodolfo Juarez">Dr. Rodolfo Juarez</option>
								</select>
							</td>
							<td><a class="btn btn-warning" href="/editarpago/{{i[6]}}" role="button" title="Editar"><i class="fas fa-pen" style="color: white;"></a></td>
							<td><a class="btn btn-danger" href="/eliminarpago/{{i[6]}}" role="button" title="Eliminar"><i class="fas fa-trash"></i></a></td>
							<td><a class="btn btn-info" href="/imprimir/{{i[6]}}" role="button"
									target=”_blank” title="Imprimir Ticket"><i class="fas fa-print"></a></td>
						</tr>
						{% endfor %}
					</table>
					<br>
					<center>
						<a class="btn btn-info" href="{{ url_for('repdiariopdf') }}" role="button" target=”_blank”>Ver
							PDF</a>
						<input class="btn btn-primary" type="submit" value="Registrar">
					</center>
					<br>
					<h4>Facturas/Recibos</h4>
					<table class="table table-bordered sortable table-responsive" id="sampleTable1">
						<tr>
							<th>No. Documento</th>
							<th>Proveedor</th>
							<th>Descripción</th>
							<th>Usuario</th>
							<th>Monto</th>
							<th colspan="2">Opciones</th>
						</tr>
						{% for i in facturas %}
						<tr>
							<td>{{i[0]}}</td>
							<td>{{i[1]}}</td>
							<td>{{i[2]}}</td>
							<td>{{i[4]}}</td>
							<td>Q{{i[3]}}</td>
							<td><a class="btn btn-warning" href="/editarfactura/{{i[5]}}" role="button" title="Editar"><i class="fas fa-pen" style="color: white;"></a></td>
							<td><a class="btn btn-danger" href="/eliminarfactura/{{i[5]}}" role="button" title="Eliminar"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
						{% endfor %}
					</table>
					<script>
						$(document).ready(function () {
							$("#sampleTable").fancyTable({
								inputPlaceholder: 'Buscar',
								sortable: true,
								pagination: false
							});
						});

						$(document).ready(function () {
							$("#sampleTable1").fancyTable({
								inputPlaceholder: 'Buscar',
								sortable: true,
								pagination: false
							});
						});
					</script>
			</form>
		</div>
	</main>
	<!-- page-content" -->
</div>
<!-- page-wrapper -->
{% endblock %}