{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/repdiario">
							<span>Corte Diario</span>
						</a>
					</li>
					<li>
						<a href="/repgen">
							<span>Listado General</span>
						</a>
					</li>
					<li>
						<a href="/repi">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repauxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/repini">
							<span>Internet Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repir">
							<span>Internet Reinscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repu">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/repp">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/replenq">
							<span>Practica Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/replbcq">
							<span>Practica Química Biológica</span>
						</a>
					</li>
					<li>
						<a href="/repm">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/repingles">
							<span>Ingles</span>
						</a>
					</li>
					<li>
						<a href="/reppag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/repgrad">
							<span>Graduacion</span>
						</a>
					</li>
					<li>
						<a href="/repextra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/repparq">
							<span>Parqueo</span>
						</a>
					</li>
					<!-- sidebar-menu  -->
			</div>
			<!-- sidebar-content  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container">
			<h2>Reporte diario</h2>
			<hr>
			<form action="" method="POST">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" name="regen" placeholder="Boleta General">
					</div>
					<div class="col-md-6">
						<select class="form-control" id="empresagen" name="empresagen">
							<option value="">Seleccione empresa</option>
							<option value="Óptica">Óptica</option>
							<option value="Óptica Tarjeta">Óptica Tarjeta</option>
							<option value="Laboratorio">Laboratorio</option>
							<option value="Laboratorio Tarjeta">Laboratorio Tarjeta</option>
							<option value="Academia">Academia</option>
							<option value="Auxiliares de Enfermeria">Auxiliares de Enfermeria</option>
							<option value="Dr. Rodolfo Juarez">Dr. Rodolfo Juarez</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<h4>Resumen</h4>
						<table class="table table-bordered table-responsive">
							<tr>
								<th>Código</th>
								<th>Concepto</th>
								<th>Cantidad</th>
								<th>Total</th>
								<th>Boleta</th>
								<th>Empresa</th>
							</tr>
							{% for i in resumen %}
							<tr>
								<td>{{i[0]}}</td>
								<td>{{i[1]}}</td>
								<td>{{i[2]}}</td>
								<td>Q.{{i[3]}}</td>
								<td><input type="text" class="form-control" name="resumen{{i[4]}}"
										title="Recibo {{i[1]}}">
								</td>
								<td>
									<select class="form-control" id="empresa{{i[4]}}" name="empresa{{i[4]}}">
										<option value="">Seleccione empresa</option>
										<option value="Óptica">Óptica</option>
										<option value="Óptica Tarjeta">Óptica Tarjeta</option>
										<option value="Laboratorio">Laboratorio</option>
										<option value="Laboratorio Tarjeta">Laboratorio Tarjeta</option>
										<option value="Academia">Academia</option>
										<option value="Auxiliares de Enfermeria">Auxiliares de Enfermeria</option>
										<option value="Dr. Rodolfo Juarez">Dr. Rodolfo Juarez</option>
									</select>
								</td>
							</tr>
							{% endfor %}
							<tr>
								<th colspan="3">
									<center>Total</center>
								</th>
								<th colspan="2">
									<center>{{suma}}</center>
								</th>
							</tr>
						</table>
					</div>
					<div class="col-md-4">
						<table class="table table-bordered table-responsive">
							<tr>
								<th>Cuenta</th>
								<th>Número</th>
							</tr>
							<tr>
								<td>Clínica Optométrica</td>
								<td>399-007141-1</td>
							</tr>
							<tr>
								<td>Lab. de Diagnóstico Galileo</td>
								<td>399-007142-9</td>
							</tr>
							<tr>
								<td>Technical Training Academy</td>
								<td>399-007457-1</td>
							</tr>
							<tr>
								<td>Escuela Privada "Los Altos"</td>
								<td>399-009065-0</td>
							</tr>
							<tr>
								<td>Rodolfo Juarez</td>
								<td>233-500181-1</td>
							</tr>
							<tr>
								<th>Boleta Anterior</th>
								<th>{{boletasig}}</th>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<br><br>
					<h4>Desplegado</h4>
					<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
					<table style="width: 80%;" class="table table-bordered sortable table-responsive">
						<tr>
							<th>Nombre</th>
							<th>Carnet</th>
							<th>Fecha</th>
							<th>Concepto</th>
							<th>Descripción</th>
							<th>Total</th>
							<th>Usuario</th>
							<th>Recibo</th>
							<th>Empresa</th>
							<th colspan="3">Opciones</th>
						</tr>
						{% for i in data %}
						<tr>
							<td>{{i[0]}}</td>
							<td>{{i[1]}}</td>
							<td>{{i[2]}}</td>
							<td>{{i[3]}}</td>
							<td>{{i[4]}}</td>
							<td>Q{{i[5]}}</td>
							<td>{{i[7]}}</td>
							<td><input type="text" class="form-control" name="re{{i[6]}}" title="Recibo {{i[6]}}"></td>
							<td>
								<select class="form-control" id="empr{{i[6]}}" name="empr{{i[6]}}">
									<option value="">Seleccione empresa</option>
									<option value="Óptica">Óptica</option>
									<option value="Óptica Tarjeta">Óptica Tarjeta</option>
									<option value="Laboratorio">Laboratorio</option>
									<option value="Laboratorio Tarjeta">Laboratorio Tarjeta</option>
									<option value="Academia">Academia</option>
									<option value="Auxiliares de Enfermeria">Auxiliares de Enfermeria</option>
									<option value="Dr. Rodolfo Juarez">Dr. Rodolfo Juarez</option>
								</select>
							</td>
							<td><a class="btn btn-warning" href="/editarpago/{{i[6]}}" role="button">Editar</a></td>
							<td><a class="btn btn-danger" href="/eliminarpago/{{i[6]}}" role="button">Eliminar</a></td>
							<td><a class="btn btn-info" href="/imprimir/{{i[6]}}" role="button"
									target=”_blank”>Imprimir</a></td>
						</tr>
						{% endfor %}
					</table>
					<br>
					<center>
						<a class="btn btn-info" href="{{ url_for('repdiariopdf') }}" role="button" target=”_blank”>Ver
							PDF</a>
						<input class="btn btn-primary" type="submit" value="Registrar">
					</center>
					<br>
					<h4>Facturas/Recibos</h4>
					<table class="table table-bordered sortable table-responsive">
						<tr>
							<th>No. Documento</th>
							<th>Proveedor</th>
							<th>Descripción</th>
							<th>Usuario</th>
							<th>Monto</th>
							<th colspan="2">Opciones</th>
						</tr>
						{% for i in facturas %}
						<tr>
							<td>{{i[0]}}</td>
							<td>{{i[1]}}</td>
							<td>{{i[2]}}</td>
							<td>{{i[4]}}</td>
							<td>Q{{i[3]}}</td>
							<td><a class="btn btn-warning" href="/editarfactura/{{i[5]}}" role="button">Editar</a></td>
							<td><a class="btn btn-danger" href="/eliminarfactura/{{i[5]}}" role="button">Eliminar</a>
							</td>
						</tr>
						{% endfor %}
					</table>
			</form>
		</div>
	</main>
	<!-- page-content" -->
</div>
<!-- page-wrapper -->
{% endblock %}