<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% if title %}
	<title>Sistema de caja - {{ title }}</title>
	{% else %}
	<title>Sistema de caja</title>
	{% endif %}
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		.clear {
			clear: both;
		}
		#page-wrap {
			width: 800px;
			margin: 40px auto 60px;
		}
		#pic {
			float: right;
			margin: -30px 0 0 0;
		}
		#page-wrap h2 {
			font-size: 20px;
			margin: 0 0 6px 0;
			position: relative;
		}
		#page-wrap h2 span {
			position: absolute;
			bottom: 0;
			right: 0;
			font-style: italic;
			font-family: Georgia, Serif;
			font-size: 16px;
			color: #999;
			font-weight: normal;
		}
		#page-wrap a:hover {
			border-bottom-style: solid;
			color: black;
		}
		#page-wrap ul {
			margin: 0 0 32px 17px;
		}
		#page-wrap #objective {
			width: 500px;
			float: left;
		}
		#page-wrap #objective p {
			font-family: Georgia, Serif;
			font-style: italic;
			color: #666;
		}
		#page-wrap dt {
			font-style: italic;
			font-weight: bold;
			font-size: 18px;
			text-align: right;
			padding: 0 26px 0 0;
			width: 150px;
			float: left;
			height: 200px;
			border-right: 1px solid #999;
		}
		#page-wrap dd {
			width: 600px;
			float: right;
		}
		#page-wrap dd.clear {
			float: none;
			margin: 0;
			height: 15px;
		}
	</style>
	<style type="text/css">
		body {
			background: #ffffff;
			color: #ffffff;
			margin-top: 5rem;
		}
		table,
		th,
		td {
			border: 1px solid black;
			color: #000000;
			border-collapse: collapse;
		}
		table {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid #000000;
		}
		td,
		th {
			font-size: 16px;
			border: 1px solid #000000;
			text-align: left;
			padding: 8px;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000000;
		}
	</style>
	<link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
</head>

<body>
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				<div class="page-wrapper chiller-theme toggled">
					<!-- sidebar-wrapper  -->
					<main class="page-content">
						<div class="container">
							<h2>Reporte diario
								{% for i in range(25) %}
								&nbsp;
								{% endfor %}
								{{d1}}</h2>
							<hr>
							<table>
								<tr>
									<th>Nombre</th>
									<th>Carnet</th>
									<th>Fecha</th>
									<th>Concepto</th>
									<th>Descripción</th>
									<th>Total</th>
									<th>Usuario</th>
									<th>Recibo</th>
									<th>DTE</th>
								</tr>
								{% for i in data %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[3]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[5]}}</td>
									<td>{{i[8]}}</td>
									<td>{{i[7]}}</td>
									<td>{{i[9]}}</td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="6">Total Pagos</th>
									<th colspan="3">Q.{{suma}}</th>
								</tr>
								{% if contdev > 0 %}
								<tr>
									<th colspan="9">Devoluciones</th>
								</tr>
								{% for i in datadev %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[3]}}</td>
									<td>{{i[4]}}</td>
									<td>-Q{{i[5]}}</td>
									<td>{{i[8]}}</td>
									<td>{{i[7]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								{% endif %}
								<tr>
									<th colspan="6">Total Devoluciones</th>
									<th colspan="3">Q.{{sumadev}}</th>
								</tr>
								<tr>
									<th colspan="6">Total General</th>
									<th colspan="3">Q.{{sumas[0]}}</th>
								</tr>
							</table>
							<br>
							<br>
							<table>
								<tr>
									<th colspan="6">Resumen Pagos</th>
								</tr>
								{% if resumenes[0]|length > 0 %}
								<tr>
									<th colspan="6"><center>Óptica</center></th>
								</tr>
								<tr>
									<th>Código</th>
									<th>Concepto</th>
									<th>Cantidad</th>
									<th>Recibo</th>
									<th>Total</th>
									<th>Saldo</th>
								</tr>
								{% for i in resumenes[0] %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Óptica</th>
									<td>Q{{totales[0]}}</td>
									<td>Q{{sumas[1]}}</td>
								</tr>
								{% endif %}

								{% if resumenes[1]|length > 0 %}
								<tr>
									<th colspan="6"><center>Laboratorio</center></th>
								</tr>
								<tr>
									<th>Código</th>
									<th>Concepto</th>
									<th>Cantidad</th>
									<th>Recibo</th>
									<th>Total</th>
									<th>Saldo</th>
								</tr>
								{% for i in resumenes[1] %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Laboratorio</th>
									<td>Q{{totales[1]}}</td>
									<td>Q{{sumas[2]}}</td>
								</tr>
								{% endif %}

								{% if resumenes[2]|length > 0 %}
								<tr>
									<th colspan="6"><center>Academia</center></th>
								</tr>
								<tr>
									<th>Código</th>
									<th>Concepto</th>
									<th>Cantidad</th>
									<th>Recibo</th>
									<th>Total</th>
									<th>Saldo</th>
								</tr>
								{% for i in resumenes[2] %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Academia</th>
									<td>Q{{totales[2]}}</td>
									<td>Q{{sumas[3]}}</td>
								</tr>
								{% endif %}

								{% if resumenes[3]|length > 0 %}
								<tr>
									<th colspan="6"><center>Auxiliares de Enfermeria</center></th>
								</tr>
								<tr>
									<th>Código</th>
									<th>Concepto</th>
									<th>Cantidad</th>
									<th>Recibo</th>
									<th>Total</th>
									<th>Saldo</th>
								</tr>
								{% for i in resumenes[3] %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Auxiliares de Enfermeria</th>
									<td>Q{{totales[3]}}</td>
									<td>Q{{sumas[4]}}</td>
								</tr>
								{% endif %}

								{% if resumenes[4]|length > 0 %}
								<tr>
									<th colspan="6"><center>Óptica Tarjeta</center></th>
								</tr>
								<tr>
									<th>Código</th>
									<th>Concepto</th>
									<th>Cantidad</th>
									<th>Recibo</th>
									<th>Total</th>
									<th>Saldo</th>
								</tr>
								{% for i in resumenes[4] %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Óptica Tarjeta</th>
									<td>Q{{totales[4]}}</td>
									<td>Q{{sumas[5]}}</td>
								</tr>
								{% endif %}

								{% if resumenes[5]|length > 0 %}
								<tr>
									<th colspan="6"><center>Laboratorio Tarjeta</center></th>
								</tr>
								<tr>
									<th>Código</th>
									<th>Concepto</th>
									<th>Cantidad</th>
									<th>Recibo</th>
									<th>Total</th>
									<th>Saldo</th>
								</tr>
								{% for i in resumenes[5] %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Laboratorio Tarjeta</th>
									<td>Q{{totales[5]}}</td>
									<td>Q{{sumas[6]}}</td>
								</tr>
								{% endif %}
							</table>
							{% if facturas|length > 0 %}
							<table>
								<tr>
									<th colspan="6">Facturas/Recibos</th>
								</tr>
								<tr>
									<th>No. Documento</th>
									<th>Proveedor</th>
									<th>Descripción</th>
									<th>Usuario</th>
									<th>Monto</th>
									<th>Saldo</th>
								</tr>
								{% for i in facturas %}
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
									<td></td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="4" style="text-align: right;">Total Facturas</th>
									<td>Q{{totales[6]}}</td>
									<td>Q{{sumas[7]}}</td>
								</tr>
							</table>
							{% endif %}
							<table>
								{% if vales[0]|int > 0 %}
								<tr>
									<th colspan="4">Vales</th>
									<td>Q{{vales[0]}}</td>
									<td>Q{{sumas[8]}}</td>
								</tr>
								{% endif %}
								<tr>
									<th colspan="4">Dr. Rodolfo Juarez</th>
									<td>Boleta: {{recibodr[0]}}</td>
									<th>Q{{sumas[8]}}</th>
								</tr>
								<tr>
									<th colspan="6">Desplegado Dr. Rodolfo Juarez</th>
								</tr>
								{% for i in resumenes[6] %}
								<tr>
									<td>{{i[0]}}</td>
									<td colspan="2">{{i[1]}}</td>
									<td>{{i[2]}}</td>
									<td>{{i[4]}}</td>
									<td>Q{{i[3]}}</td>
								</tr>
								{% endfor %}
								<tr>
									<th colspan="5" style="text-align: right;">Total Dr. Rodolfo Juarez</th>
									<td>Q{{totales[8]}}</td>
								</tr>
							</table>
							<br>
							<table>
								<tr>
									<th> <br><br><br></th>
									<th><br><br><br></th>
									<th><br><br><br></th>
								</tr>
								<tr>
									<th>Hecho Por:</th>
									<th>Revisado Por:</th>
									<th>Recibido Por:</th>
								</tr>
							</table>
					</main>
					<!-- page-content" -->
				</div>
				<!-- page-wrapper -->
			</div>
		</div>
	</main>
	<br><br><br><br>
	<footer class="page-footer font-small bg-steel">

	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>

</html>