{% extends "layout.html" %}
{% block content %}
<!-- fancyTable Js -->
<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>

<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<!-- sidebar-header  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Opciones</span>
					</li>
					<br>
					<li>
						<a href="/repdiario">
							<span>Corte Diario</span>
						</a>
					</li>
					<li>
						<a href="/repgen">
							<span>Listado General</span>
						</a>
					</li>
					<li>
						<a href="/repi">
							<span>Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repauxenf">
							<span>Auxiliar de Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/repini">
							<span>Internet Inscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repir">
							<span>Internet Reinscripciones</span>
						</a>
					</li>
					<li>
						<a href="/repu">
							<span>Uniformes</span>
						</a>
					</li>
					<li>
						<a href="/repp">
							<span>Practica</span>
						</a>
					</li>
					<li>
						<a href="/replenq">
							<span>Practica Enfermeria</span>
						</a>
					</li>
					<li>
						<a href="/replbcq">
							<span>Practica Química Biológica</span>
						</a>
					</li>
					<li>
						<a href="/repm">
							<span>Manuales</span>
						</a>
					</li>
					<li>
						<a href="/repingles">
							<span>Ingles</span>
						</a>
					</li>
					<li>
						<a href="/reppag">
							<span>Pagos</span>
						</a>
					</li>
					<li>
						<a href="/repgrad">
							<span>Graduacion</span>
						</a>
					</li>
					<li>
						<a href="/repextra">
							<span>Pagos Extra</span>
						</a>
					</li>
					<li>
						<a href="/repparq">
							<span>Parqueo</span>
						</a>
					</li>
					<!-- sidebar-menu  -->
			</div>
			<!-- sidebar-content  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container">
			<center>
				<h1>Reporte General</h1>
			</center>
			<hr>
			<form action="" method="POST">
				<div class="form-row">
					<div class="col-md-6">
						<label for="carnet">Carnet</label>
						<input type="text" class="form-control" name="carnet" id="carnet" placeholder="Carnet" value="{{datacarnet}}">
					</div>
					<div class="col-md-6">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" value="{{datanombre}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="fechaini">Fecha Inicio</label>
						<input type="date" class="form-control" name="fechaini" id="fechaini" value="{{datafechaini}}">
					</div>
					<div class="col-md-6">
						<label for="nombre">Fecha Finalización</label>
						<input type="date" class="form-control" id="fechafin" name="fechafin" value="{{datafechafin}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="concepto">Concepto</label>
						<input type="text" class="form-control" name="concepto" id="concepto" placeholder="Concepto" value="{{dataconcepto}}">
					</div>
					<div class="col-md-6">
						<label for="descripcion">Descripción</label>
						<input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" value="{{datadescripcion}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="recibo">Recibo</label>
						<input type="text" class="form-control" name="recibo" id="recibo" placeholder="Recibo" value="{{datarecibo}}">
					</div>
					<div class="col-md-6">
						<label for="empresa">Empresa</label>
						<input type="text" class="form-control" name="empresa" id="empresa" placeholder="Empresa" value="{{dataempresa}}">
					</div>
				</div>
				<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
				<br>
				<center>
					<button onclick="submit" class="btn btn-primary" name="accion" value="1">Buscar</button>
				</center>
			

			<h4>Resultados encontrados: {{conteo}}</h4>
			{% if conteo > 0 %}
			<center>
				<button onclick="submit" class="btn btn-primary" name="accion" value="2">Generar PDF</button>
			</center>
			{% endif %}
			</form>
			<table class="table table-striped sortable table-responsive" id="sampleTable">
				<tr>
					<th>Nombre</th>
					<th>Carnet</th>
					<th>Fecha</th>
					<th>Concepto</th>
					<th>Descripción</th>
					<th>Recibo</th>
					<th>Total</th>
					<th>Empresa</th>
					<th>Devolución</th>
				</tr>
				{% for i in data %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}</td>
					<td>{{i[4]}}</td>
					<td>{{i[5]}}</td>
					<td>Q. {{i[6]}}</td>
					<td>{{i[9]}}</td>
					{% if i[8] == 0 %}
					<td><a class="btn btn-danger" href="/devolucion/{{i[7]}}" role="button">No - Devolver</a></td>
					{% else %}
					<td><a class="btn btn-warning" href="/verdev/{{i[7]}}" role="button">Si - Ver Devolución</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
	</main>
	
	<!-- page-content" -->
</div>
<!-- page-wrapper -->
<script>
	$(document).ready(function () {
		$("#sampleTable").fancyTable({
			inputPlaceholder: 'Buscar',
			pagination: true,
			perPage:20
		});
	});
</script>
{% endblock %}