<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>
	{% if title %}
	<title>Sistema de caja - {{ title }}</title>
	{% else %}
	<title>Sistema de caja</title>
	{% endif %}
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		.clear {
			clear: both;
		}

		#page-wrap {
			width: 800px;
			margin: 40px auto 60px;
		}

		#pic {
			float: right;
			margin: -30px 0 0 0;
		}

		#page-wrap h2 {
			font-size: 20px;
			margin: 0 0 6px 0;
			position: relative;
		}

		#page-wrap h2 span {
			position: absolute;
			bottom: 0;
			right: 0;
			font-style: italic;
			font-family: Georgia, Serif;
			font-size: 16px;
			color: #999;
			font-weight: normal;
		}

		#page-wrap a:hover {
			border-bottom-style: solid;
			color: black;
		}

		#page-wrap ul {
			margin: 0 0 32px 17px;
		}

		#page-wrap #objective {
			width: 500px;
			float: left;
		}

		#page-wrap #objective p {
			font-family: Georgia, Serif;
			font-style: italic;
			color: #666;
		}

		#page-wrap dt {
			font-style: italic;
			font-weight: bold;
			font-size: 18px;
			text-align: right;
			padding: 0 26px 0 0;
			width: 150px;
			float: left;
			height: 200px;
			border-right: 1px solid #999;
		}

		#page-wrap dd {
			width: 600px;
			float: right;
		}

		#page-wrap dd.clear {
			float: none;
			margin: 0;
			height: 15px;
		}
	</style>
	<style type="text/css">
		body {
			background: #ffffff;
			color: #ffffff;
			margin-top: 5rem;
		}

		table,
		th,
		td {
			border: 1px solid black;
			color: #000000;
			border-collapse: collapse;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid #000000;
		}

		td,
		th {
			font-size: 16px;
			border: 1px solid #000000;
			text-align: left;
			padding: 8px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000000;
		}
	</style>
	<link rel="icon" href="https://informatica.galileo.edu/images/favicon.ico">
</head>

<body>

	<main role="main" class="container">
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				<div class="page-wrapper chiller-theme toggled">
					<!-- sidebar-wrapper  -->
					<main class="page-content">
						<div class="container">
							<h2>Manuales</h2>
							<hr>
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#lbcq1">LBCQ I</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#lbcq3">LBCQ III</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#lbcq5">LBCQ V</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#lbcq7">LBCQ VII</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#lbcq9">LBCQ IX</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tlcq1">TLCQ I</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tlcq3">TLCQ III</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tlcq5">TLCQ V</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="lbcq1" class="tab-pane fade">
									<br>
									<h3>LBCQ I</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="tlbcq1">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualeslbcq[0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br>
									<br>
									<h4>Biología General I</h4>
									<table class="table table-striped sortable" id="tlbcq1a">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[0][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br>
									<br>
									<h4>Química General I</h4>
									<table class="table table-striped sortable" id="tlbcq1b">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[0][1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="lbcq3" class="tab-pane fade">
									<br>
									<h3>LBCQ III</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="tlbcq3">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualeslbcq[1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Parasitología</h4>
									<table class="table table-striped sortable" id="tlbcq3a">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[1][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Química Inorgánica</h4>
									<table class="table table-striped sortable" id="tlbcq3b">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[1][1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="lbcq5" class="tab-pane fade">
									<br>
									<h3>LBCQ V</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="tlbcq5">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualeslbcq[2] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Bioquímica General</h4>
									<table class="table table-striped sortable" id="tlbcq5a">
										<thead>
											<tr>
												<th>No.</th>
												<th>Nombre</th>
												<th>Carnet</th>
												<th>Fecha</th>
												<th>Codigo</th>
												<th>Descripción</th>
											</tr>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[2][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Hematología Básica</h4>
									<table class="table table-striped sortable" id="tlbcq5b">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[2][1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="lbcq7" class="tab-pane fade">
									<br>
									<h3>LBCQ VII</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="tlbcq7">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualeslbcq[3] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Hematología Clínica</h4>
									<table class="table table-striped sortable" id="tlbcq7a">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[3][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Microbiología Clínica Avanzada</h4>
									<table class="table table-striped sortable" id="tlbcq7b">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[3][1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="lbcq9" class="tab-pane fade">
									<br>
									<h3>LBCQ IX</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="tlbcq9">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualeslbcq[4] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Banco de Sangre</h4>
									<table class="table table-striped sortable" id="tlbcq9a">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[4][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Microbiología Aplicada II</h4>
									<table class="table table-striped sortable" id="tlbcq8b">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindlbcq[4][1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="tlcq1" class="tab-pane fade">
									<br>
									<h3>TLCQ I</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="ttlcq1">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualestlcq[0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="tlcq3" class="tab-pane fade">
									<br>
									<h3>TLCQ III</h3>
									<br>
									<hr>
									<h4>Kit Completo</h4>
									<table class="table table-striped sortable" id="ttlcq3">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualestlcq[1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Bacteriología</h4>
									<table class="table table-striped sortable" id="ttlcq3a">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindtlcq[0][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<br><br>
									<h4>Química Clínica</h4>
									<table class="table table-striped sortable" id="ttlcq3b">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindtlcq[0][1] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div id="tlcq5" class="tab-pane fade">
									<br>
									<h3>TLCQ V</h3>
									<br>
									<h4>Práctica en Laboratorio</h4>
									<table class="table table-striped sortable" id="ttlcq5">
										<thead>
											<th>No.</th>
											<th>Nombre</th>
											<th>Carnet</th>
											<th>Fecha</th>
											<th>Codigo</th>
											<th>Descripción</th>
										</thead>
										<tbody>
											{% for i in manualesindtlcq[1][0] %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ i[0] }}</td>
												<td>{{ i[1] }}</td>
												<td>{{ i[2] }}</td>
												<td>{{ i[3] }}</td>
												<td>{{ i[4] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
					</main>
					<!-- page-content" -->
				</div>
				<!-- page-wrapper -->
			</div>
		</div>
	</main>
	<script>
		$(document).ready(function () {
			$("#tlbcq1").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq1a").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq1b").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq3").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq3a").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq3b").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq5").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq5a").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq5b").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq7").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq7a").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq7b").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq9").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq9a").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#tlbcq9b").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#ttlcq1").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#ttlcq3").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#ttlcq3a").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#ttlcq3b").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
		$(document).ready(function () {
			$("#ttlcq5").fancyTable({
				inputPlaceholder: 'Buscar',
				pagination: false
			});
		});
	</script>
	<br><br><br><br>
	<footer class="page-footer font-small bg-steel">

	</footer>
	<script src="https://kit.fontawesome.com/20d4419baa.js" crossorigin="anonymous"></script>
</body>

</html>