{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <!-- sidebar-header  -->
      
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Opciones</span>
          </li>
          <br>
          <li  >
            <a href="/repdiario">
                <span>Corte Diario</span>
            </a>
        </li>
        <li  >
          <a href="/repgen">
              <span>Listado General</span>
          </a>
      </li>
          <li >
            <a href="/repi">
              <span>Inscripciones</span>
            </a>
          </li>
          <li >
            <a href="/repme">
              <span>Mes Extra</span>
            </a>
          </li>
          <li >
              <a href="/repini">
                  <span>Internet Inscripciones</span>
              </a>
          </li>
          <li  >
              <a href="/repir">
                  <span>Internet Reinscripciones</span>
              </a>
          </li>
          <li  >
              <a href="/repu">
                  <span>Uniformes</span>
              </a>
          </li>
          <li  >
              <a href="/repp">
                  <span>Practica</span>
              </a>
          </li>
          <li  >
              <a href="/repm">
                  <span>Manuales</span>
              </a>
          </li>
          <li  >
              <a href="/reppag">
                  <span>Pagos</span>
              </a>
          </li>
          <li  >
              <a href="/repgrad">
                  <span>Graduacion</span>
              </a>
          </li>
          <li >
            <a href="/repextra">
              <span>Pagos Extra</span>
            </a>
          </li>
          <li >
            <a href="/repparq">
              <span>Parqueo</span>
            </a>
          </li>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container">
        <h2>Transferencias</h2>
        <hr>
        <input type="date" id="myInput2" name="fecha" onchange="myFunction2()" class="inputtext3">&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="text" id="myInput" onkeyup="myFunction3()" placeholder="  Factura" class="inputtext3">     
        <br>
        <input type="text" id="carnet" onkeyup="myFunction4()" placeholder="  Recibo" class="inputtext3">   &nbsp;&nbsp;&nbsp;
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="  Nombre" class="inputtext3">     
              <table id="myTable">
            <tr>
                <th>Nombre</th>
                <th>Recibo</th>
                <th>Fecha</th>
                <th>Factura</th>
                <th>Total</th>
            </tr>
            {% for i in transferencias %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>Q. {{i[4]}}</td>
            </tr>
            {% endfor %}
            
        </table>
    </main>
    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      function myFunction2() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      function myFunction3() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput3");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[3];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      function myFunction4() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("carnet");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
{% endblock %}